#pt_menu_pt_item_menu_custom_menu:hover span.block-title{
   color: #8cc63f;
}
.pt_custommenu div.popup {
   position: absolute;
    z-index: 3000;
    text-align: left;
    padding: 15px;
    margin: 0;
    width: auto !important;
  
    /*left: auto !important;*/
}
.pt_custommenu div.pt_menu,{
    padding: 20px;
}
.pt_custommenu div.pt_menu {
    float: none;
    padding: 0 !important;
		display: inline-block;
}
.pt_custommenu div.pt_menu a, .pt_custommenu div.popup a {
    text-decoration: none;
    display:block;
    line-height: 32px;
		color: #000;
		text-transform: uppercase;
}
.pt_custommenu div.popup .itemMenuName {
font-size: 12px;
}
div.pt_menu .itemMenu h4.level3,
div.pt_menu .itemMenu a.level3{
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}
.itemMenu h4.level1,
.itemSubMenu h4.level2 span{
    color: #897725;
}
.itemSubMenu h4.level4,
.itemSubMenu a.level4 {
    padding-left: 0px;
    text-transform: capitalize !important;
    font-weight: normal;
    font-size: 12px;
}
.pt_custommenu div.popup a.actParent {
    color: #4D4D4D;
}
.pt_custommenu div.popup a.act {
    color: #A52A2A !important;
}
.pt_custommenu div.column {
    float:left;
    margin-right: 10px;
    padding: 0 10px;
    }
.pt_custommenu div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
.pt_custommenu div.blockright { width: 500px; margin: 0 0 0 30px; padding: 0;}
.clearBoth {
    clear:both;
}
.pt_custommenu .block2{
    margin-top: 10px;
}
.pt_custommenu #popup_home{
    display: none !important;
}
.pt_custommenu div.popup .block1{
    overflow: hidden;
    /*display: inline-block;*/
    float: left;
    /*clear:both;*/
}
.pt_custommenu div.popup .block1:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
.pt_custommenu div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    width: 195px;
}
/*show right block*/
.pt_custommenu div.popup .floatleft{
    float: left;
}
.pt_custommenu div.popup .block1.floatleft{
    /*width: 650px;*/
}
.pt_custommenu div.popup .block2.floatleft{
    /*width: 250px;*/
}
.pt_custommenu div.popup .blockright img{
    max-width: 100%;
} 

div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
#pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
#pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 5px 12px 6px 8px;
    display: block;
}
#pt_menu_link{
    padding: 0;
}

.popup .block2{
    color: #888;
    float: left;
    width: 100% !important;
}
.des-title { color: #666; text-transform: uppercase; font-weight: normal; font-family: 'robotoslablight'; font-size: 24px; padding-bottom: 10px; text-align: left;}

#block2_pt_item_menu_custom_menu  img { width: 100%;height: auto;max-height:200px;}
.tittle-custom { clear: both; font-weight: bold; text-transform: uppercase; padding: 20px 0 10px; color: #333;}
#block2_pt_item_menu_custom_menu .static_block_custom_menu .content{
    font-family: 'Arial';
    margin: 20px 0 0;
    text-transform: none;
    font-size: 13px;
}
.custom-menu-bottom img { width: 99%;}
.custom-menu-bottom img:hover{opacity: 0.8;}

div.popup .blockright img{
    max-width: 100%;
}
.pt_custommenu div.blockright {margin: 0 0 0 0px;}
.clearBoth {
    clear:both;
}
.blockright .static-sub-menu-col-right-2 {margin-top: 10px;}



/*mobile menu*/

/*------Accordion ---------*/
/********** < Navigation */

.ma-nav-mobile-container { clear: both; display: inline-block; padding: 0;}
.nav-collapse {
    text-align: left;
}
.navbar .nav > li {
    padding: 10px 30px 20px 0;
}
#ma-mobilemenu {
    height: auto;
    display: none;
    float: left;
    width: 100%;
    margin: 10px 0 0;
}

.nav-collapse, .nav-collapse.collapse {

}
.navbar-inner {
    background: #413659;
    border: 0 !important;
    box-shadow: none !important;
    padding: 0;
}
.menu-mobile {
    float: left;
    width: 100%;
    padding: 5px;
    margin: 0;
    border-radius: 2px;
		height: 55px;
}
.navbar .btn-navbar {
    margin-top: 7px;
    border: 0 !important;
    box-shadow: none !important;
		color: #fff;
		float: left;
}
.navbar .btn-navbar .icon-bar {
    box-shadow:none !important;
    border-radius:0 !important;
    background-color:inherit !important;
}
.mobilemenu>li.last a {
    border-bottom: 0;
}
.navbar .brand {
    color: #fff;
    text-transform: uppercase;
    font-family: 'robotoslablight';
}
.mobilemenu {
 list-style-type: none;
 padding: 0;
    margin: 0;
}
.collapse.in {

}
.mobilemenu ul {
 padding: 0;
 margin: 0;
 float: left;
 display: block;
 width: 100%;
}
.mobilemenu li {
 background: #faf8f8;
 cursor: pointer;
 list-style-type: none;
 padding: 0;
 margin: 0;
 float: left;
 display: block;
 width: 100%;
 position: relative;
}
.mobilemenu li.level0.last {
    margin-bottom: 20px;
}
.mobilemenu li.active>a {
 /*background: url('../images/close.gif') no-repeat center right;*/
}
.mobilemenu li div {
 padding: 20px;
 background: #aef;
 display: block;
 clear: both;
 float: left;
 width: 360px;
}
.mobilemenu a {
 text-decoration: none;
 border-bottom: 1px solid #e0d8d8;
 /*font: bold 1.1em/2em Arial, sans-serif;*/
 font-size: 16px;
 line-height: 40px;
 font-weight: normal;
 color: #666;
 margin: 0 15px;
 font-family: 'helvetica';
 display: block;
 text-transform: capitalize;
 cursor: pointer;
}



.mobilemenu li.parent>a {
	/*background: url('../images/open.gif') no-repeat center right;*/
}

.mobilemenu li ul li {
    font-size: 0.9em;
}
.mobilemenu li.active>ul {

}

.mobilemenu ul a {
	padding-left: 25px;
}
.mobilemenu ul ul a {
	padding-left: 40px;
}
.mobilemenu ul ul ul a {
	padding-left: 55px;
}
.mobilemenu ul ul ul ul a {
	padding-left: 70px;
}
.mobilemenu ul ul ul ul ul a {
	padding-left: 85px;
}
/*----------- button mobilemenu -------------*/
.mobilemenu span.head {
	position: absolute;
	top: 8px;
	right: 8px;
}
.mobilemenu span.head a { 
	color:#333333;
	display:block;
	height:15px;
	padding:0;
	width:15px;
	border: 0;
}

/*.mobilemenu span.head a:hover*/
.mobilemenu li.active>span.head a {
	background: url(../images/menu_up.png) no-repeat 50% 50%;
}
.mobilemenu li.selected span.head a {
	background: url(../images/menu_up.png) no-repeat 50% 50%;
}




/*THANH TOAN*/

.main {
    padding: 5px;
}

.m0 {
    margin: 0;
}

.mt10 {
    margin-top: 10px;
}

/*a {
    color: #2a9dcc;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

    a:hover, a:focus {
        color: #2486ae;
        outline: 0;
    }*/

textarea.form-control {
    height: 70px;
}

hr.divider {
    margin-bottom: 10px;
    margin-top: 10px;
}

.slidedown-hidden {
    position: absolute;
    visibility: hidden;
    max-height: 0;
}

    .slidedown-hidden.slidedown-visible {
        -webkit-transition: max-height 1s;
        -moz-transition: max-height 1s;
        transition: max-height 1s;
        max-height: 1500px;
        position: relative;
        visibility: visible;
        overflow: hidden;
    }

.payment-method-description {
    margin-left: 26px;
}

.payment-method-list .radio > label {
    font-weight: 700;
}
.iradio_square.checked {
    background-position: -168px 0;
}
.icheckbox_square {
    background-position: 0 0;
}

    .icheckbox_square.checked {
        background-position: -48px 0;
    }

.radio > label {
    padding-left: 0;
}

.form-group .radio {
    margin-bottom: 20px;
}

.control-label {
    font-weight: normal;
}

.order-summary {
    background: #fafafa;
    border-top: 1px solid #e1e1e1;
    color: #777;
    border: 1px solid #dadada;
}

    .order-summary strong {
        font-weight: 500;
        color: #555;
    }

.order-summary-header {
    padding: 15px;
    border-top: none;
}

.order-summary .control-label {
    margin-bottom: 0;
}

.summary-section {
    border-top: 1px solid #e1e1e1;
    padding: 20px;
}

    .summary-section:first-of-type {
        border-top: 0;
    }

.product-info-name, .product-info-description {
    display: block;
}

.product-list .product {
    padding-bottom: 25px;
    padding-top: 25px;
    border-top: 1px solid #e7e7e7;
}

    .product-list .product:first-of-type {
        border-top: none;
    }

    .product-list .product .product-image {
        margin-right: 10px;
        width: 50px;
    }

.more {
    position: relative;
}

    .more:hover {
        text-decoration: none;
    }

    .more:after {
        content: "";
        position: absolute;
        height: 11px;
        width: 6px;
        right: -15px;
        top: 3px;
        -webkit-transition: -webkit-transform 0.2s ease-in-out;
        -moz-transition: -moz-transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
    }

    .more:hover:after {
        -webkit-transform: translateX(0.5em);
        -moz-transform: translateX(0.5em);
        transform: translateX(0.5em);
    }

/*.product-info {
    max-width: 50%;
}*/

.summary-body {
    padding-top: 0;
}

.total-line {
    margin-bottom: 16px;
}

    .total-line:first-of-type {
        margin-bottom: 0;
    }

.total-line-total {
    border-top: 1px solid #e7e7e7;
    padding-top: 16px;
}

.checkbox label {
    padding-left: 0;
}

input[required] {
}

.form-control {
    padding-left: 22px;
}

    .form-control option {
        padding-left: 20px;
    }

    .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-group {
    position: relative;
    margin-top: 15px;
}
input[type="email"] {
    height: 34px;
}
.product-list { list-style-type: none;}
.product-list{overflow:hidden;margin-bottom:30px;border-top:#ddd 0px solid;border-left:#ddd 0px solid}@media (min-width:768px) and (max-width:992px) {.search{margin-top:40px;padding:0}.search_input{padding:0 10px}}

