.category-saidebar ul li a.arrow::after {
    border: medium none;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 13px;
    right: 25px;
    top: 0;
    position: absolute;
}
.main-menu ul li ul.sup-menu li a.arrow::after {
    border: medium none;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 13px;
    right: 25px;
        top: 13px;
    position: absolute;
}
.category-saidebar ul li ul.cat-sup-menu li a.arrow::after {
    border: medium none;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 13px;
    right: 10px;
        top: 0px;
    position: absolute;
}
.category-sidebar ul li a::before {
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    margin-right: 10px;
}
.product-name-cart-button a.button::before {
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
}
.product-name-cart-button button.button_style::before {
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
}
.categories ul li a::before, .archives-area ul li a::before {
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    margin-right: 10px;
}
.faq-accordion .panel-title a.collapsed::before, .faq-accordion .panel-title a::after {
    content: "";
    font-family: fontawesome;
    position: absolute;
    right: 15px;
    top: 16px;
}
/* Large desktop :1200px. */
@media (min-width: 1170px) {
	.box_left{
		width:25%;
		float:left;
		padding-right: 0px;}
	.box_right{
		width:75%;
		float:right;
		padding-left: 0px;}

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
.header-email, .header-phone {
  margin-right: 0;
}
.header-email i, .header-phone i {
  height: 20px;
  line-height: 17px;
  width: 20px;
}
.header-email {
  margin-right: 15px;
}
.home-2 .main-menu ul li a {
  padding: 0 0 0 20px;
}
.header-email, .header-phone {
  font-size: 11px;
}
.header-search input[type="text"] {
  width: 450px;
}
.add-area .add-text h1 {
  font-size: 80px;
}
.new-featured-product .product-name-price h2 {
  font-size: 16px;
}
.footer-top-area .subcribe-area form input[type="text"] {
  width: 290px;
}
.footer-bottom-menu ul li a {
  padding-right: 5px;
}
.home-3 .header-search {
  width: 505px;
}
.home-3 .header-search input[type="text"] {
  width: 59%;
}
.main-menu ul li .mega-menu {
  width: 499px;
}
.home-3 .shipping-info .single-shipping {
  padding: 45px 0 45px 15px;
}
.home-6 .category-saidebar {
  left: 96px;
  width: 18.8%;
}
.product-category-carosul-6.owl-theme .owl-controls .owl-buttons {
  right: -230px;
}
.timer-count span {
  margin-right:18px;
}
.home-8 .header-email {
  margin-right: 3px;
}
.home-8 .header-phone {
  padding: 0 5px;
}
.home-8 .category-saidebar {
  left: 82px;
  width: 19.3%;
}
.home-9 .category-saidebar ul li a {
  font-size: 12px;
}
.home-9 .category-saidebar ul li a i {
  padding-right: 5px;
}
.home-9 .header-search {
  width: 480px;
}
.home-9 .service-area-bottum .single-service h3 {
  font-size: 11px;
}
.home-10 .category-saidebar ul li a {
  font-size: 11px;
}
.simpleLens-lens-element{
  width: 380px;
}
.product-description h1 {
  font-size: 36px;
}
.filter-price p {
  display: inline;
  float: none;
}
.shop-header-area {
  margin: 30px 0 30px;
}
.featured-product-area .product-name-ratting {
  margin: 0 0 0 5px;
}
.product-info .product-name {
  margin: 0 0 10px;
}
.category-header .shop-header {
  transform: translate(0px, -160%);
}
.single-project-area .project-date {
  width: 82px;
}
.single-project-area .project-decs {
  width: 81%;
}
.single-project-area .project-decs h2 {
  font-size: 18px;
  margin: 0 0 15px;
}
.blog-post-content.full-width {
  width: 65%;
}
.about-info-text {
  padding-left: 15px;
  padding-top: 10px;
}
.about-info h1 {
  font-size: 80px;
  margin: 0 0 5px;
}
.about-info h2 {
  font-size: 40px;
}
.about-info h3 {
  margin: 0 0 5px;
}
.address h3 {
  margin: 0 0 13.5px;
}




}
@media (max-width: 992px) {
	.product-overview-tab .tab-menu-area ul li{width:100%;}
	.product-overview-tab .tab-menu-area ul li a{width:100%;    text-align: center;}
	.product-overview-tab .tab-menu-area ul li.active {
		background: #fff;
		border: 1px solid #777;
	}
	.product-overview-tab .tab-menu-area ul li {
		background: #fff;
		border: 1px solid #ebebeb;
		margin-bottom:10px;
	}
	.product-overview-tab .tab-content{
		float: left !important;
		width: 100% !important;
		margin-top: 10px !important;
		padding: 30px !important;
	}
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.sup-menu .li_cate_lv2 a{
	padding: 19px 15px 19px 18px;}
.header-email, .header-phone {
  float: none;
  display: inline;
}
.header-left {
  text-align: center;
}
.header-right {
  float: none;
  text-align: center;
}
.menu-top-menu,.chosen-container,.lang-sel-list {
  display: inline-block;
  float: none;
}
.lang-sel-list ul li,.lang-sel-list ul li a {
  line-height: 0;
}
.logo {
  margin: 30px 0;
  text-align: center;
}
.search-cart-list {
  margin: 0 0 30px;
}
.header-search input[type="text"] {
  width: 470px;
}
.main-menu ul li .mega-menu {
  width: 540px;
}
.banner-bottom {
  margin-top: 17px;
}
.add-area .add-text h1 {
  font-size: 60px;
}
.social-media {
  margin-top: 20px;
}
.social-media ul,.footer-bottom-menu ul,.copyright-info  {
  text-align: left;
}
.copyright-info {
  margin: 10px 0 0;
}
.footer-payment-logo {
  text-align: center;
  margin-top: 15px;
}
.footer-mid-menu {
  margin-bottom: 20px;
}
.home-2 .header_area {
  background: #2F2F2F;
  position: relative;
}
.home-2 .main-menu {
  margin: 0;
  float:left;
}
.home-2 .search-cart-list {
  margin: 11px 0px;
}
.home-2 .header-top-bar {
  position: relative;
  z-index: 999;
}
.home-2 .menu-top-menu {
  border-left: 0;
}
.home-2 .main-menu ul li a {
  padding: 0 0 0 25px;
}
.catemenu-toggler,.category-saidebar {
  display: none;
}
.home-3 .header-search {
  width: 545px;
}
.home-3 .single-post .post-des a.readmore {
  padding: 12px 18px;
}
.home-3 .shipping-info .single-shipping {
  padding: 10px 0;
  text-align: center;
}
.home-3 .shipping-info .single-shipping .shipping-icon {
  float: none;
}
.home-3 .shipping-info .single-shipping .shipping-text {
  float: none;
  margin-left: 0;
  margin-top: 10px;
}
.home-5 .main-menu ul {
  text-align: center;
}
.home-5 .main-menu ul li {
  display: inline-block;
  float: none;
}
.home-5 .slider-and-category-saidebar .banner-pic {
  width: 50%;
  float: left;
}
.home-5 .brand-carosul.owl-theme .owl-controls .owl-buttons {
  display: none;
}
.brand-new-product-list .product-img {
  width: 100%;
}
.brand-new-product-list .product-name-cart-button {
  margin-top: 10px !important;
  padding-left: 0;
  width: 100%;
}
.bestsellers {
  display: none;
}
.product-category-carosul-6.owl-theme .owl-controls .owl-buttons {
  right: -180px;
}
.home-6 .tab-menu ul li {
  padding: 10px 15px;
}
.sp-carosul.owl-theme .owl-controls .owl-buttons {
  display: none;
}
h3.saidebar-hedding {
  padding-left: 15px;
}
.banner-pic img {
  width: 95%;
}
.timer-count span {
  margin-right:10px;
}
.home-8 .header-search {
  margin-bottom: 20px;
}
.home-8 .main-menu ul li .mega-menu {
  width: 516px;
}
.home-8 .header-phone {
  border-right: 0;
}
.home-9 .banner-left-area {
  text-align: center;
}
.service-area-bottum .single-service h3 {
  font-size: 11px;
}
.home-9 .header-search {
  width: 480px;
}
.form-action label {
  margin: 0 4px 0 0;
}
.portfolio-menu li {
  padding: 12px 25px;
}
.product-description h1 {
  font-size: 24px;
}
.simpleLens-lens-element{
  width: 300px;
}
.filter-price p {
  float: none;
  text-align: left;
  width: 100%;
}
.shop-header h1 {
  font-size: 65px;
}
.shop-header-area {
  margin: 25px 0 20px;
}
.tags ul li a {
  margin: 0 5px 10px 0;
}
.featured-product-area .product-name-ratting {
  line-height: 15px;
  margin: 0;
  width: 100%;
}
.shop-header h1 {
  font-size: 40px;
}
.category-header .shop-header h1::after {
  margin-left: -33px;
  width: 76px;
}
.product-info .action-buttons a.button, .product-description form button {
  padding: 0 25px;
}
.product-info .price-box {
  margin-bottom: 10px;
}
.product-info .product-name {
  margin: 0 0 5px;
}
.project-left img {
  width: 100%;
}
.project-decs-area {
  margin-top: 20px;
}
span.project-title {
  font-size: 14px;
}
.page-title {
  margin: 50px 0 40px;
}
.wishlist-table table .product-add-to-cart > a {
  font-size: 11px;
  line-height: 18px;
  padding: 0 5px;
}
.map-area {
  margin-top: 30px;
}
.cart-totals h2 {
  float: none;
}
.cart-totals table {
  text-align: left;
}
.proceed-to-checkout a {
  float: none;
}
.sidebar-right {
  border-left: 0 none;
  padding-left: 0;
}
.blog-leftbar .sidebar-right {
  border-right: 0 none;
  padding-left: 0;
  padding-right: 0;
}
.comments .post-thumb,.recent-post .post-thumb {
  width: 10%;
}
.comment-info {
  width: 92%;
}
.comment-author {
  width: 8%;
}
.blog-post-content.full-width {
  width: 100%;
}
.about-info-text {
  padding-left: 10px;
  padding-top: 10px;
}
.about-info h2 {
  font-size: 30px;
}
.about-info h1 {
  font-size: 50px;
  margin: 0 0 14px;
}
.about-info h3 {
  margin: 0 0 5px;
  padding: 0 0 5px;
}
.about-info p, .address p {
  line-height: 22px;
}
.address h3 {
  margin: 0;
  padding: 0 0 2px;
}
.team-hedding h3 {
  font-size: 36px;
}
.about-info p, .address p {
  margin: 0;
  padding: 0;
}




}

/* small mobile :320px. */
@media (max-width: 767px) {
	.mainmenu-area {
		border-top: 0;
	}
	.shop-content-area .col-nopad-right{padding-right: 15px !important;}
	.shop-content-area .col-nopad-left{padding-left: 15px !important;}
	#home{overflow:hidden;}
	.btn_show_cart {
		float: right;
		color: #fff;
		line-height: 15px;
		margin: 15px;
		font-size: 15px;
	}
	#empty_cart_button {
		background: #3bb2ca;
		padding: 10px 30px;
		color: #fff;
		border: none;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.slider-and-category-saidebar .col-md-12{padding:0px;}
	.slider-wrap{margin-top:0px !important;}
	.btn_show_search{
		float: right;
		color: #fff;
		line-height: 15px;
		margin: 15px;
		font-size: 15px;
		cursor:pointer;
	}
	.header-search{display:none;margin-bottom:15px;}
	.mobile-menu-area .mean-container{padding:0px;}
	.home-9 .mainmenu-area{display:none;}
	.banner_tab_left img{
		width:100%;}
	.header-left {
		display: none;
	}
.main-menu,.home-2 .main-menu{
	display:none;
}
.menu-top-menu ul li a {
  padding: 0 5px 0 5px;
}
.menu-top-menu ul li {
  line-height: 0;
}
.menu-top-menu ul {
  line-height: 25px;
  text-align: center;
}
.header-search input[type="text"] {
  width: 210px;
}
.cart-total {
  float: none;
  margin-left: 0;
}
.header-search {
  margin-right: 0;
}
.cart-total {
  margin-right: 1px;
}
.cart-total ul li .mini-cart-content {
  left: 0;
}
.chosen-container,.lang-sel-list {
  display:none;
}
.logo {
  margin: 30px 0 0;
  text-align: center;
}
.mean-container .mean-bar {
  background: #3bb2ca;
}
	.cart-total{display:none;}
.mean-container .mean-nav ul li a:hover {
  background: #f8f8f8 none repeat scroll 0 0;
  color: #3bb2ca;
}
.home-service-area .col-lg-4.col-md-4:nth-child(2) .service-box{
  margin:30px 0;
}
.slider-wrap,.product-area,.blog-area {
  margin-bottom: 30px;
}
.single-banner {
  margin-top: 20px;
}
.banner-bottom {
  margin-top: 0px;
}
.add-area .add-text {
  margin-top: 5px;
}
.add-area .add-text h1 {
  font-size: 32px;
}
h2.area-headding {
  font-size: 14px;
}
.blog-area-title h2 {
  font-size: 14px;
  line-height: 20px;
}
.blog-carusol {
  padding-top: 60px;
}
.new-featured-product {
  margin-bottom: 15px;
}
.single-logo {
  text-align: center;
}
.logo-brand-area {
  margin-bottom: 40px;
}
.new-featured-product .product-name-price h2 {
  font-size: 13px;
}
.new-featured-product .single-product {
  margin-bottom: 15px;
}
.subcribe-area {
  text-align: center;
}
.footer-top-area .subcribe-area form input[type="text"] {
  display: inline-block;
  float: none;
  height: 35px;
  padding-left: 15px;
  width: 53%;
}
.footer-top-area .subcribe-area form input[type="submit"] {
  height: 35px;
  margin: 0 0 0 4px;
  padding: 0 5px;
  float: none;
  display: inline-block;
}
.social-media {
  margin-top: 20px;
}
.social-media ul,.footer-bottom-menu ul  {
  text-align: left;
}
.footer-bottom-menu ul li a {
  margin-right: 0px;
  padding-right: 3px;
}
.footer-top-area .subcribe-area h2 {
  float: none;
  margin: 0;
}
.copyright-info {
   font-size: 13px;
   color: #797979;
}
.footer-payment-logo {
  text-align: center;
  margin-top: 5px;
}
.home-2 .header_area {
  background: #2F2F2F;
  position: relative;
}
.home-2 .chosen-container {
  border-right: 0;
}
.home-2 .menu-top-menu ul li ul {
  top: 31px;
}
.home-2 .menu-top-menu {
  border-left: 0;
  display:none;
}
.home-2 .cart-total {
  float: left;
  margin-left: 5px;
}
.home-2 .cart-total ul li .mini-cart-content {
  right: 0;
  left: inherit;
}
.home-2 .header-search input[type="text"] {
  left: 0;
}
.home-2 .search-cart-list {
  display: inline-block;
  float: none;
  margin: 15px 0;
}
.home-2 .banner-area {
  margin-bottom: 30px;
}
.home-2 .tab-content {
  padding: 20px 0 0;
}
.home-2 .tab-menu ul li a {
  height: 30px;
  padding: 0 11px;
}
.testimonials-area .testimonials-list {
  padding: 15px 0 0;
}
.single-testimonials blockquote {
  font-size: 16px;
}
.home-3 .header-search,.home-3 .header-search .cate-toggler {
  width: 100%;
}
.home-3 .header-search input[type="text"] {
  border: 0 none;
  width: 83%;
  height:42px;
}
.home-3 .cart-total {
  float: left;
  margin-top: 50px;
}
.home-3 .header-search button {
  height: 42px;
  line-height: 32px;
  margin-top: 10px;
  width: 42px;
}
.catemenu-toggler,.category-saidebar {
  display: none;
}
.home-3 .mainmenu-area {
  background: transparent none repeat scroll 0 0;
}
.banner-home-3 .banner-pic {
  margin-bottom: 10px;
}
.home-3 .product-category-tab .tab-menu ul li a {
  height: 50px;
  padding: 0 10px;
}
.home-3 .product-category-tab .tab-menu ul li {
  height: 50px;
  line-height: 50px;
}
.home-3 .product-category-carosul.owl-theme .owl-controls .owl-buttons, .home-5 .product-category-carosul-5.owl-theme .owl-controls .owl-buttons {
  top: -80px;
}
.home-3 .blog-testimonials-area {
  background: #2f2f2f none repeat-y scroll 50% 0;
  margin: 0 0 45px;
  padding: 50px 0 90px;
}
.home-3 .blog-testimonials-area .product-title-area h3 span {
  background: #2f2f2f none repeat scroll 0 0;
}
.home-3 .blog-testimonials-area .blog-area-3.owl-theme .owl-controls .owl-buttons, .home-3 .blog-testimonials-area .testimonial.owl-theme .owl-controls .owl-buttons {
  background: #2f2f2f none repeat scroll 0 0;
}

.home-3 .single-post .post-image {
  padding-right: 0;
  width: 100%;
  margin-bottom: 10px;
}
.home-3 .single-post .post-des a.readmore {
  padding: 10px 20px;
}
.home-3 .single-post .post-des {
  padding-left: 0px;
  width: 100%;
  margin-bottom: 20px;
}
.home-3 .shipping-info .single-shipping {
  border-right: 0;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}
.banner-pic a img {
  width: 100%;
}
.header-right {
  float: none;
}
.left-saidebar .brand-new, .left-saidebar .bestsellers {
  display: none;
}
.home-5 .product-category-tab .col-lg-3.col-md-3 {
  width: 100%;
}
.home-6 .search-cart-list {
  margin-bottom: 0;
}
.product-category-carosul-6.owl-theme .owl-controls .owl-buttons {
  right: 10px;
}
.home-6 .tab-menu {
  padding: 40px 0px 0;
}
.home-6 .tab-menu ul {
  border-left: 0 none;
}
.home-8 .header-email{
  line-height: 0;
}
.home-8 .header-phone {
  border-left: 0 none;
  border-right: 0 none;
  line-height: 0;
  padding: 0;
}
.home-8 .header-left {
  text-align: center;
}
.home-8 .header-email, .header-phone{
  float: none;
}
.home-9 .header-email,.home-9 .header-phone {
  display: inline-block;
  float: none;
  margin: 0;
}
.home-9 .header-email{
  margin-right: 5px;
}
.home-9 .search-cart-list {
  float: none;
}
.home-9 .header-search {
  width: 100%;
}
.home-9 .header-search input[type="text"] {
  width: 90%;
}
.home-9 .cart-total ul li a span.cart-no {
  padding-left: 0;
}
.home-9 .service-area-bottum .single-service {
  border: none;
  padding-left: 0;
  width: 100%;
}
.home-9 .service-area-bottum .single-service h3{
  font-size: 12px;
  float: none;
}
.home-9 .single-banner-left {
  text-align: center;
}
.popular-tags {
  padding: 20px 10px;
}
.home-10 .single-banner-left {
  text-align: center;
  margin-bottom: 10px;
}
.cart-total ul li a.cart-toggler {
  margin-top: 10px;
}
.home-2 .cart-total ul li a.cart-toggler {
  margin-top: 0px;
}
.search-cart-list {
  margin: 30px 0 10px;
}
.form-area {
  margin-bottom: 20px;
  overflow: hidden;
}
.form-action label {
  float: none;
  margin: 0;
}
.portfolio-menu {
  margin-bottom: 20px;
}
.portfolio-menu li {
  margin-bottom: 4px;
  margin-right: 2px;
  padding: 8px 10px;
}
.product-description h1 {
  font-size: 24px;
}
.social-button-area {
  margin: 0 0 30px;
}
.social-button-area .shere-icon ul li {
  margin: 0 15px;
}
.tab-menu-area ul li a {
  font-size: 14px;
}
.tab-menu-area ul li {
  display: inline-block;
  float: none;
  background-image: none;
  padding: 0;
}
.tab-menu-area ul{
  text-align: center;
}
.product-overview-tab .tab-content {
  padding-top: 20px;
}
.simpleLens-lens-element{
  display: none;
}
.product-details-area {
  margin-top: 20px;
}
.product-view-area .simpleLens-big-image-container a.fancybox {
  font-size: 14px;
  height: 30px;
  line-height: 24px;
  width: 30px;
}
.review-comment-area .meta .ranking {
  float: none;
}
.review-comment-area .meta {
  margin: 0;
}
.product-overview-tab {
  margin: 0 0 10px;
}
.up-sell-product .single-product {
  margin-bottom: 15px;
}
.shop-header-area {
  margin: 15px 0 10px;
}
.shop-header h1 {
  font-size: 24px;
}
.filter-price input {
  width: 50%;
}
.action-buttons div a {
  height: 40px;
  line-height: 40px;
  width: 40px;
}
.product-info .action-buttons a.button, .product-description form button {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
.product-info .product-name {
  font-size: 18px;
  margin: 0 0 10px;
}
.category-header .shop-header h1::after {
  margin-left: -25px;
  width: 55px;
}
.shop-header h1 {
  font-size: 16px;
}
.shop-header ul li {
  padding-left: 20px;
}
.project-left {
  margin-bottom: 15px;
}
.project-right a {
  margin-bottom: 15px;
}
.single-project-area .project-date {
  width: 70px;
}
.single-project-area .project-decs {
  width: 74%;
}
.single-project-area .project-decs h2 {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 15px;
}
.project-right a {
  display: inline-block;
}
.wishlist-table table .product-add-to-cart > a {
  font-size: 11px;
  height: auto;
  line-height: 14px;
  padding: 2px 3px;
}
.map-area {
  margin-top: 30px;
}
.contuct-form h1 {
  font-size: 24px;
  margin: 0 0 30px;
}
p.checkout-coupon input[type="text"] {
  margin-bottom: 5px;
}
.your-order-table table th, .your-order-table table td {
  padding: 15px 8px;
}
.cart-totals h2 {
  float: none;
}
.cart-totals table {
  text-align: left;
}
.proceed-to-checkout a {
  float: none;
}
.buttons-cart input[type="submit"],.buttons-cart a {
  margin-bottom: 10px;
  margin-right: 0;
  text-align: center;
  width: 100%;
}
.sidebar-right {
  border-left: 0 none;
  padding-left: 0;
}
.postinfo-wrapper .date-social {
  width: 25%;
}
.post-info {
  padding-left: 10px;
}
.hedding .blog-hedding {
  font-size: 18px;
}
.meta-small {
  margin: 0 0 15px;
}
.post-info a.readmore {
  padding: 0 20px;
}
.post-thumbnail {
  margin: 0 0 20px;
}
.paginations ul li {
  margin: 5 10px;
}
.blog-leftbar .sidebar-right {
  border-right: 0 none;
  padding-left: 0;
  padding-right: 0;
}
.shere-icon ul li a {
  padding: 0 14px;
}
.shere-icon ul li:first-child a {
  padding-left: 0;
}
.shere-icon h3 {
  float: none;
  margin: 0;
}
.hedding {
  margin: 0 0 15px;
}
h3.right-bar-title {
  margin: 0 0 15px;
}
.user-comment-form-area h3 {
  margin: 0 0 20px;
}
.input-element p {
  width: 100%;
}
.comment-author {
  width: 20%;
}
.comment-info {
}
.post-decrip blockquote {
  padding: 30px 25px;
}
.blog-header {
  margin: 0 0 5px;
}
.post-thumbnail .player {
  margin: 25px 0;
}
.about-info-pic {
  width: 100%;
}
.about-info-text {
  padding-left: 15px;
  padding-top: 15px;
  width: 100%;
}
.about-info h1 {
  font-size: 60px;
  margin: 0 0 15px;
}
.about-info h2 {
  font-size: 30px;
}
.address h3 {
  font-size: 16px;
  padding: 0 0 7px;
}
.about-info h3 {
  margin: 0 0 15px;
}
.team-hedding h3 {
  font-size: 16px;
}
.team-hedding p {
  font-size: 13px;
}
.single-member {
  margin-bottom: 10px;
}
.member-info {
  margin: 0 auto;
}
.team-member {
  text-align: center;
}
.error-page-text input[type="text"] {
  width: 95%;
}
.error-page-text input[type="submit"] {
  margin-left: 0;
  margin-top: 10px;
}
.error-page-text h2 {
  font-size: 20px;
}





}

/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.lang-sel-list ul {
		text-align: center;
	}
	.lang-sel-list ul li {
		float: none;
		display: inline-block;
	}
	.single-banner img {
		width: 100%;
	}
	.search-cart-list {
		float: none;
	}
	.header-search input[type="text"] {
		width: 360px;
	}
	.cart-total ul li a.cart-toggler {
		margin: 10px 0;
	}
	.review-comment-area .meta .author-time {
		margin-right: 10px;
	}
	.header-phone {
		margin-right: 0;
	}

}
@media only screen and (min-width: 320px) and (max-width: 479px) {
	.about_us img{width:100%;}
	 .about_us h2{
		 float: left;
		 width: 100%;
	 }
	div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
		margin: 20px 0px;
	}
	.mar-bt15{width:100%;}
	.product-grid-slide .no_pad{
		 width: 100%;
	 }
	.header-top-bar{
	display:none;}
}