body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #ffffff;
    color: #898989;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {

}
a:hover,
a:active,
a:focus {
    text-decoration: none;
}
p {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
.owl-theme .owl-page {
    float: left;
    margin-right: 7px;
}
.owl-theme .owl-page span {
    display: block;
    height: 10px;
    width: 10px;
    background-color: #ffffff;
}
.owl-theme .owl-page.active span {
    background-color: #ca2631;
}
.box-heading {
    position: relative;
    height: 40px;
    margin-bottom: 30px;
}
.box-heading h2 {
    margin: 0;
    padding: 6px 0 12px 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #0066b3;
}
.box-heading h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 80px;
    height: 3px;
    background-color: #ca2631;
}
.box-heading .owl-buttons {
    position: absolute;
    top:8px;
    right:0;
}
.box-heading .owl-buttons a {
    float: left;
    height: 25px;
    width: 25px;
    margin-left: 4px;
    line-height: 25px;
    color: #838383;
    text-align: center;
    border: 1px solid #c3c3c3;
}
.box-heading .owl-buttons a:hover {
	background-color: #ca2631;
	color: #ffffff;
}
.breadcrumb {
    margin: 0;
    margin-bottom: 35px;
    padding: 26px 0 12px 0;
    border-bottom: 1px solid #ebebeb;
    background-color: transparent;
}
.breadcrumb > li.active {
    color: #68ba8f;
}
.breadcrumb > li+li:before {
    padding: 0 2px;
}
.breadcrumb > li > a {
    color: #898989;
}
.page-heading {
    background-size: cover;
    background-position: center center;
}
.nav-pagination {
    overflow: hidden;
}
.pagination {
	float: right;
    margin: 70px 0 0 0;
    padding: 0;
}
.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    height: 43px;
    padding: 0 15px;
    line-height: 43px;
    text-decoration: none;
    color: #898989;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    margin-left: 10px;
    margin-bottom: 10px;
}
.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-radius: 0;
}
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 0;
}
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus,
.pagination>li.active>a,
.pagination>li.active>span {
    z-index: 2;
    color: #ffffff;
    background-color: #ca2631;
	border-color: #ca2631;
}
.style-form-group {
    margin-bottom: 30px;
}
.style-form-group label {
    display: block;
    width: 100%;
    padding: 0 0 10px 0;
    font-size: 12px;
    font-weight: normal;
    color: #898989;
}
.style-form-group label span {
    color: #ff0000;
}
.style-form-text {
	height: 45px;
    line-height: 45px;
    padding: 0 15px;
	width: 100%;
    outline: none;
    border: 1px solid #ebebeb;
}
.style-form-textarea {
	width: 100%;
	padding: 15px;
	line-height: 45px;
    outline: none;
    border: 1px solid #ebebeb;
}
.style-form-submit {
	display: inline-block;
	height: 50px;
	line-height: 50px;
    padding: 0 75px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ca2631;
    border: none;
	outline: none;
	cursor: pointer;
}
.style-form-submit:hover {
	color: #ffffff;
}
.style-form h2 {
	margin:0;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #3d3d3d;
}
.style-form-error {
	margin-bottom: 15px;
	padding: 15px;
}
.style-form-error p {
	color: #ff0000;
	line-height: 22px;
}
.style-form-success {
	margin-bottom: 15px;
	padding: 15px;
}
.style-form-success p {
	color: #ca2631;
	line-height: 22px;
}
.blog,
.collection {
    margin-bottom: 100px;
}
.address,
.account,
.order,
.login {
	padding-bottom: 100px;
}
.header-top {
    height: 32px;
    background-color: #73757b;
}
.header-hotline {
    line-height: 32px;
    color: #ffffff;
}
.header-hotline i {
    margin-right: 2px;
    font-size: 14px;
}
.header-account {
    float:right;
}
.header-account ul li {
    float: left;
}
.header-account ul li a {
    margin-left: 10px;
    line-height: 32px;
    color: #ffffff;
}
.header-account ul li a:hover {
	color: #ca2631;
}
.header-account ul li a::after {
    content: "|";
    margin-left: 10px;
}
.header-account ul li a i {
    margin-right: 5px;
}
.header-account ul li:last-child a::after {
    content: "";
}
.logo {
    display: block;
    margin-top: 30px;
    margin-bottom: 23px;
}
.header-nav-main {
    float: right;
    margin-top:46px;
}
.header-nav-main > ul > li {
    float: left;
    position: relative;
}
.header-nav-main > ul > li > a {
    display: block;
    height: 32px;
    padding: 0 12px;
    line-height: 32px;
    text-transform: uppercase;
    color: #555555;
}
.header-nav-main > ul > li:hover > a {
   color: #ffffff;
    background-color: #cc0000;
    border-radius: 5px;
}
.header-nav-main > ul > li.active > a {
    color: #ffffff;
    background-color: #cc0000;
    border-radius: 5px;
}
.header-nav-main > ul > li.header-search > a,
.header-nav-main > ul > li.header-cart > a {
    font-size: 14px;
    color: #ca2631;
}
.header-nav-main > ul > li:hover .nav-main-sub {
    display: block;
}
.nav-main-sub {
    position: absolute;
    display: none;
    z-index: 999;
    top: 100%;
    left: 0;
    width: 200px;
    padding-top: 47px;
}
.nav-main-sub::before {
    content: "";
    position: absolute;
    top: 42px;
    left: 20px;
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #ffffff;
}
.nav-main-sub li {
    position: relative;
    background-color: #ffffff;
}
.nav-main-sub li a {
    display: block;
    height: 40px;
    margin: 0 10px;
    font-size: 14px;
    line-height: 40px;
    color: #555555;
    border-bottom: 1px solid #e1e1e1;
}
.nav-main-sub li:hover > a {
    color: #ca2631;
}
.nav-main-sub > li:hover .nav-main-sub2 {
    display: block;
}
.nav-main-sub2 {
    position: absolute;
    display: none;
    top: 0;
    right: -200px;
    width: 200px;
    padding-left: 5px;
}
.nav-main-sub2::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #ffffff;
}
.nav-main-search {
	right: 0;
	left: auto;
	width: 300px;
}
.nav-main-search::before {
    right: 20px;
	left: auto;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #ca2631;
}
.nav-main-search .search-form-submit {
	height: 45px;
}
#owl-slider .owl-pagination {
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -25px;
}
#owl-slider .item img {
    display: block;
    width: 100%;
    height: auto;
}
.feature {
    padding: 34px 0 30px 0;
    background-color: #fbf9f9;
    box-shadow: 0px 1px 1px 1px rgba(200,200,200,0.5);
}
.feature-item {
    text-align: center;
}
.feature-item img {
    padding: 18px 0;
}
.feature-item h2 {
    margin: 0;
    padding: 8px 0 10px 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #3d3d3d;
    text-transform: uppercase;
}
.feature-item p {
    padding: 0 37px 19px 37px;
    line-height: 20px;
}
.news-seminor {
    padding: 45px 0 70px 0;
}
.news {

}
.on-item {
    height: 421px;
    overflow: hidden;
}
.on-item-image {
	display: block;
}
.on-item-image img {
    width: 100%;
    height: 290px;
}
.on-item-name:hover h3 {
	color: #ca2631;
}
.on-item-name h3 {
    margin: 0;
    padding: 16.5px 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #292e42;
}
.on-item-info {
    padding-bottom: 14px;
    font-style: italic;
}
.on-item-info i {
    margin: 0 8px 0 1px;
    color: #ca2631;
}
.on-item-summary {
    line-height: 18px;
    color: #878787;
    text-align: justify;
}
#owl-seminor {
    height: 421px;
    overflow: hidden;
}
.os-item {
    overflow: hidden;
    margin-bottom: 40px;
}
.os-item:last-child {
    margin: 0;
}
.os-item-image {
    display: block;
    float: left;
    margin-right: 12px;
}
.os-item-image img {
	width: 166px;
    height: 112px;
}
.os-item-name:hover h3 {
	color: #ca2631;
}
.os-item-name h3 {
    margin: 0;
    padding: 12px 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #292e42;
}
.school {
    padding: 60px 0 50px 0;
    background-color: #fbf9f9;
}
.school-heading {
    position: relative;
    margin-bottom: 45px;
    text-align: center;
}
.school-heading h2 {
    display: inline-block;
    margin: 0 0 20px 0;
    padding-bottom: 20px;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #0066b3;
    text-transform: uppercase;
    border-bottom: 1px solid #e1e1e1;
}
.school-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    display: block;
    width: 17px;
    height: 21px;
    margin-left: -8.5px;
    background-image: url(../images/flag.png);
}
.school-item {
    padding-bottom: 50px;
}
.school-item-thumbnail {
    position: relative;
}
.school-item-thumbnail img {
	width: 100%;
	height: 200px;
}
.school-item-thumbnail a {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    height: 35px;
    width: 103px;
    margin-left: -51.5px;
    margin-top: -17.5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    background-color: #ca2631;
   
}
.school-item-thumbnail:hover a {
    display: block;
}
.school-item-thumbnail:hover::before {
    display: block;
}
.school-item-thumbnail::before {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
.shool-item-name:hover h3 {
	color: #ca2631;
}
.shool-item-name h3 {
    margin: 0;
    padding: 20px 0 8px 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 14px;
	line-height: 16px;
    font-weight: bold;
    color: #111111;
    max-height: 54px;
    overflow: hidden;
}
.school-item-summary {
	max-height: 10px;

}
.shool-item-summary {
    color: #636363;
    font-size: 12px;
    font-weight: 18px;
    color: #878787;
    text-align: justify;
}
.school-item-buttons {
	display: none;
}
.school-item-register {
	display: inline-block;
	float: left;
	height: 35px;
	margin-right: 10px;
	padding: 0 25px;
	line-height: 35px;
	color: #ffffff;
	background-color: #252d43;
	text-transform: uppercase;
}
.school-item-view {
	display: inline-block;
	float: left;
	height: 35px;
	padding: 0 25px;
	line-height: 35px;
	color: #ffffff;
	background-color: #ca2631;
	text-transform: uppercase;
}
.school-item-buttons a:hover {
	color: #ffffff;
}
.school-footer {
    text-align: center;
}
.school-footer a {
    display: inline-block;
    height: 53px;
    padding: 0 45px;
    font-size: 12px;
    font-weight: bold;
    line-height: 53px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ca2631;
}
.testimonial {
    padding: 50px 0;
    background-image: url(../images/bg-testimonial.jpg);
    background-size: cover;
    background-position: center center;
}
.testimonial-heading {
    position: relative;
    margin-bottom: 53px;
}
.testimonial-heading::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    background-color: #ffffff;
}
.testimonial-heading h2 {
    margin: 0;
    padding: 0 0 12px 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
.testimonial-item {
    margin-bottom: 90px;
}
.testimonial-item-body {
    position: relative;
    padding: 35px 52px;
    background-color: rgba(255,255,255,0.1);
}
.testimonial-item-body::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 30px;
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 10px solid rgba(255,255,255,0.1);
}
.testimonial-item-body p {
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    color: #ebebeb;
}
.testimonial-item-user {
    padding-top: 20px;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}
.testimonial-item-user img {
    float: left;
    margin-right: 10px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
}
.testimonial-item-user h4 {
    margin: 0;
    padding: 30px 0 8px 0;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
.testimonial-item-user p {
    font-size: 12px;
    font-style: italic;
    color: #ebebeb;
}
#owl-testimonial .owl-pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25.5px;
}
#owl-testimonial .item {
    padding: 0 15px;
}
.cultural-photo-info {
    padding-top: 50px;
    padding-bottom: 85px;
}
.cultural ul li {
    overflow: hidden;
}
.cultural ul li:first-child {
    margin-bottom: 15px;
}
.cultural ul li a {
    display: block;
    padding: 3px 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #363636;
}
.cultural ul li a:hover {
	color: #ca2631;
}
.cultural ul li a::before {
    content: "-";
    margin-right: 5px;
}
.cultural ul li:first-child a::before {
    display: none;
}
.cultural ul li .cultural-item-image {
    float: left;
    margin-right: 15px;
    padding:0;
}
.cultural ul li .cultural-item-image img {
	width: 150px;
	height: 140px;
}
.cultural ul li .cultural-item-name {
    padding: 0;
}
.cultural-item-name h3 {
    margin: 0;
    padding: 10px 0 6px 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #363636;
}
.cultural-item-name:hover h3 {
	color: #ca2631;
}
.cultural ul li .on-item-info {
    padding-bottom: 5px;
}
.cultural-item-summary {
    line-height: 20px;
    color: #464646;
}
.info-logo {
    display: block;
    margin: 3px 0 28px 0;
}
.info-content {
    line-height: 24px;
    color: #464646;
    text-align: justify;
}
.brand {
    padding: 35px 0;
    background-color: #fbf9f9;
}
#owl-brand .item {
    display: table;
    width: 100%;
    height: 92px;
}
#owl-brand .item a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    opacity: 0.75;
}
#owl-brand .item a:hover {
    opacity: 1;
}
#footer {
    padding-top: 25px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+0,28343b+100 */
background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 0%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

    

}
.footer-top {
    padding-bottom: 10px;
    color: #ffffff;
}
.footer-top h5 { font-size: 16px;}

.footer-copyright {
    padding: 8px 0;
    border-top: 1px solid #3a4255;
}
.footer-copyright p {
    padding-top: 7px;
    color: #ffffff;
}
.footer-copyright p > a {
    color: #ffffff;
}
.footer-copyright p > a:hover {
	color: #ca2631;
}
.nav-payments {
    float: right;
}
.nav-payments ul li {
    float: left;
}
.nav-payments ul li a {
    display: block;
    margin-left: 10px;
    font-size: 19px;
    color: #ffffff;
}
.nav-bar-mobile {
    display: none;
    overflow: hidden;
    background-color: #ca2631;
    padding-top: 6px;
    padding-bottom: 6px;
}
.nav-mobile-btn a,
.mobile-search-btn a {
    font-size: 20px;
    color: #ffffff;
}
.nav-mobile-btn {
    float: left;
}
.mobile-search-btn {
    float: right;
}





.collection .page-heading {
    /* background-image: url(../images/bg-collection-heading.jpg); */
}
.page-heading h1 {
    margin: 0;
    padding: 83px 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 31px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.sidebar .box {
    margin-bottom: 17px;
    padding: 15px 20px 7px 20px;
    background-color: #fbf9f9;
    border: 1px dotted #838383;
    border-radius: 4px;
    box-shadow: 10px 10px 5px #888888;
    -webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.44);
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.44);
    
    

}
.sidebar .box-heading {
    margin-bottom: 10px;
}
.nav-sidebar > ul > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #898989;
    border-bottom: 1px solid #ebebeb;
}
.nav-sidebar > ul > li:last-child > a {
    border: none;
}
.nav-sidebar > ul > li.active > a,
.nav-sidebar > ul > li:hover > a {
    color: #ca2631;
}
.nav-sidebar > ul > li > a::before {
    content: "\f105";
    margin-right: 5px;
    font-family: "FontAwesome";
}
.nav-sidebar-products {
    margin-top: 20px;
}
.nav-sidebar-products ul li {
    overflow: hidden;
    margin-bottom: 20px;
	
}


.sp-item-image {
	display: block;
    float: left;
    margin-right: 13px;
}
.sp-item-image img {
	width: 77px;
	height: 77px;
}
.sp-item-name h3 {
    margin: 0;
    padding: 4px 0 8px 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 12px;
	line-height: 14px;
    font-weight: bold;
    color: #3d3d3d;
}
.collection-toolbar {
    margin-bottom: 30px;
}
.toolbar-views a {
    display: block;
    float: left;
    height: 40px;
    width: 20px;
    margin-right: 15px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #afafaf;
}
.toolbar-views a.active {
    color: #68ba8f;
}
.toolbar-sortby {
    float: right;
}
.toolbar-sortby label {
    font-size: 14px;
    color: #363636;
    margin-right: 15px;
}
.toolbar-sortby select {
    width: 131px;
    height: 40px;
    padding: 0 10px;
    font-size: 13px;
    line-height: 40px;
    border: 1px solid #ebebeb;
    outline: none;
}

.collection-products-list .row .col-lg-4 {
	width: 100%;
}
.collection-products-list .row .col-md-4 {
	width: 100%;
}
.collection-products-list .row .col-sm-4 {
	width: 100%;
}
.collection-products-list .school-item {
	overflow: hidden;
	padding: 0 30px 0 0;
	margin-bottom: 30px;
	border: 1px solid #ebebeb;
}
.collection-products-list .school-item-thumbnail {
	float: left;
	margin-right: 30px;
	border: 1px solid #ebebeb;
}
.collection-products-list .school-item-thumbnail img {
	width: 265px;
	height: 230px;
}
.collection-products-list .on-item-info {
	display: none;
}
.collection-products-list .school-item-buttons {
	overflow: hidden;
	display: block;
	margin-top: 35px;
}
.collection-products-list .shool-item-name h3 {
	padding: 30px 0 12px 0;
}


.product .page-heading {
    /*background-image: url(../images/bg-product-heading.jpg);*/
}
.product-slide-images {
    margin-left: -7.5px;
    margin-right: -7.5px;
}
#owl-product-images {
    margin-top: 13px;
}
#owl-product-images .item {
    padding: 0 7.5px;
}
.product-name {
    margin: 0;
    padding: 38px 0 11px 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #242c42;
}
.product-summary {
    padding: 0 0 25px 0;
    line-height: 18px;
    color: #7d7d7d;
}
.product-prices {
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
}
.product-price,
.product-price-sale {
    float: left;
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #3d3d3d;
    padding-bottom: 20px;
}
.product-price-sale {
    text-decoration: line-through;
}
.product-price span,
.product-price-sale span {
    color: #ed1c24;
}
.product-variants {
	overflow: hidden;
	padding: 15px 0;
	border-bottom: 1px solid #ebebeb;
}
.product-variants .selector-wrapper {
	width: 40%;
	float: left;
}
.product-variants .selector-wrapper label {
	display: block;
	width: 100%;
	font-weight: bold;
}
.product-variants .selector-wrapper select {
	height: 35px;
	padding: 0 10px;
    line-height: 35px;
    width: 200px;
    outline: none;
    border: 1px solid #ebebeb;
}
.product-quantity {
	width: 110px;
	margin-right: 10px;
	float: left;
}
.product-quantity label {
	width: 100%;
	font-weight: bold;
}
.product-quantity input {
	height: 35px;
    line-height: 35px;
    width: 100%;
    outline: none;
    border: 1px solid #ebebeb;
	text-align: center;
}
.product-submit {
	display:inline-block;
    height: 35px;
    margin-top: 18px;
    padding: 0 25px;
    font-size: 12px;
    line-height: 35px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #242c42;
    border: none;
}
.product-submit:hover {
	color: #ffffff
}
.product-tabs {
    margin-top: 60px;
    margin-bottom: 80px;
}
.product-tabs-title {
    height: 55px;
    border-bottom: 1px solid #ebebeb;
}
.product-tabs-title li {
    float: left;
    position: relative;
}
.product-tabs-title li a {
    display: block;
    height: 55px;
    padding: 0 85px;
    font-size: 14px;
    line-height: 55px;
    color: #363533;
    text-transform: uppercase;
}
.product-tabs-title li.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
}
.product-tabs-title li.active a {
    font-weight: bold;
    color: #68ba8f;
    border: 1px solid #ebebeb;
    border-bottom-color: transparent;
}
.product-tabs-content {
    border: 1px solid #ebebeb;
    border-top-color: transparent;
}
.tab-content {
    padding: 45px;
    display: none;
}
.tab-content.active {
    display: block;
}
#thetags a {
	display: inline-block;
	color: #ffffff;
	height: 35px;
	line-height: 35px;
	padding: 0 15px;
	background-color: #ca2631;
}
.product-related-content {
    margin-left: -15px;
    margin-right: -15px;
}
#owl-product-related .item {
    padding: 0 15px;
}




.blog .page-heading {
    background-image: url(../images/bg-product-heading.jpg);
}
.article-item {
    margin-bottom: 30px;
}
.article-item a:hover h3 {
	color: #ca2631;
}
.article-item h3 {
    margin: 0;
    padding: 15px 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #636363;
}
.article-item-info {
    overflow: hidden;
    padding-bottom: 20px;
}
.article-item-info ul li {
    float: left;
    margin-right: 15px;
    color: #b7b7b7;
}
.article-item-info ul li i {
    margin-right: 10px;
    color: #ca2631;
}
.article-item-image {
    display: block;
    margin-bottom: 30px;
}
.blog .pagination {
    margin-top: 40px;
}



.article {
    margin-bottom: 63px;
}
.article .page-heading {
    /*background-image: url(../images/bg-product-heading.jpg);*/
}
.article-title {
    margin: 0;
    padding: 0 0 15px 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #636363;
}
.article-info {
    overflow: hidden;
    padding-bottom: 20px;
}
.article-info ul li {
    float: left;
    margin-right: 15px;
    color: #b7b7b7;
}
.article-info ul li i {
    margin-right: 10px;
    color: #ca2631;
}
.article-body {
    margin-bottom: 100px;
}
.article-comments h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    color: #363533;
    text-transform: uppercase;
}
.comment-item {
    padding: 40px 0;
    border-bottom: 1px solid #e1e1e1;
}
.comment-item h4 {
    margin: 0;
    padding: 0 0 15px 0;
    font-size: 14px;
    color: #363533;
}
.comment-item p {
    padding: 0 0 15px 0;
    color: #898989;
}
.comment-item time {
    color: #898989;
    font-style: italic;
}
.comment-item img {
    float: left;
	height: 74px;
	width: 74px;
    margin: 0 30px 30px 0;
}
.comment-paginate {
    overflow: hidden;
}
.comment-paginate .pagination {
    float: right;
    margin: 10px 0 0 0;
}
.comment-add h2 {
    padding: 30px 0;
}
.comment-body {
    height: 145px;
}
.comment-submit {
    float: right;
}





.contact .page-heading {
    /*background-image: url(../images/bg-contact-heading.jpg);*/
}
.contact-infomation-title,
.contact-sent-title {
    padding-bottom: 54px;
    border-bottom: 1px solid #ebebeb;
}
.ci-email,
.ci-hotline {
    overflow: hidden;
    margin-top: 30px;
    padding-bottom: 28px;
    border-bottom: 1px solid #ebebeb;
}
.ci-icon {
    width: 33px;
    float: left;
    font-size: 24px;
    color: #ca2631;
}
.ci-content {
    float: left;
    width: 520px;
}
.ci-hotline .ci-content,
.ci-email .ci-content {
    width: auto;
}

.ci-hotline .ci-content p,
.ci-email .ci-content p,
.ci-address .ci-content p {
    padding-top: 17px;
}
.ci-content h3 {
    margin: 0;
    padding: 5px 0 0 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #242c42;
}
.ci-content p {
    font-size: 14px;
    color: #878787;
}
.ci-content h4 {
    margin: 0;
    padding: 15px 0 5px 0;
    font-size: 14px;
    color: #242c42;
}
.ci-address {
    overflow: hidden;
    padding: 25px 0;
    border-bottom: 1px solid #ebebeb;
}
.ci-social {
    overflow: hidden;
    margin-top: 15px;
}
.ci-social ul {
    margin-top: 20px;
}
.ci-social ul li {
    float: left;
}
.ci-social ul li a {
    display: block;
    margin-right: 17px;
    font-size: 18px;
    color: #898989;
}
.contact-form {
    margin-top: 55px;
}
.contact-body {
    height: 230px;
    padding: 15px;
}
.contact-submit {
    float: right;
}
.contact-page {
    margin-bottom: 143px;
}
#map {
    height: 490px;
}



.cart {
    margin-bottom: 110px;
}
.cart .page-heading {
    background-image: url(../images/bg-cart-heading.jpg);
}
.table-cart .table {
    margin-bottom: 35px;
}
.table-cart thead > tr > th {
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ca2631;
    text-align: center;
}
.table-cart table tr td {
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}
.table-cart table tr td:nth-child(2) {
    font-size: 16px;
    color: #3d3d3d;
}
.table-cart table tr td:nth-child(3),
.table-cart table tr td:nth-child(5) {
    font-size: 18px;
    font-weight: bold;
    color: #898989;
}
.table-cart table tr td:nth-child(6) a {
    font-size: 20px;
    color: #898989;
}
.cart-quantity {
    height: 45px;
    width: 45px;
    font-size: 18px;
    line-height: 45px;
    color: #898989;
    text-align: center;
    outline: none;
    border: 1px solid #c2c2c2;
}
.form-cart-continue,
.form-cart-update {
    float: left;
    display: block;
    height: 35px;
    margin-left: 14px;
    padding: 0 23px;
    line-height: 35px;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    outline: none;
    border: none;
    background-color: #ca2631;
}
.form-cart-continue:hover,
.form-cart-update:hover {
    color: #ffffff;
    background-color: #878787;
}
.form-cart-button {
    overflow: hidden;
}
.table-total {
    margin-top: 85px;
    margin-bottom: 50px;
}
.table-total tbody > tr > td {
    padding: 25px 0 10px 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #3d3d3d;
}
.table-total tbody > tr > td:nth-child(2) {
    color: #ca2631;
}
.table-total tbody > tr:last-child > td {
    padding: 30px 0;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d43;
}
.btn-checkout {
    float: right;
    display: block;
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    background-color: #ca2631;
    text-transform: uppercase;
}
.btn-checkout:hover {
    color: #ffffff;
    background-color: #878787;
}



.search-toolbar {
	overflow: hidden;
	margin-bottom: 30px;
}
.search-form-submit {
	float: right;
	padding: 0 20px;
}




.account .page-heading {
	background-image: url(../images/bg-cart-heading.jpg);
}
.address .page-heading {
	background-image: url(../images/bg-cart-heading.jpg);
}
.address .style-form {
	padding: 10px;
	border: 1px solid #ebebeb;
	margin-bottom: 15px;
}
.address .style-form-group {
	margin-bottom: 10px;
}
.address .style-form-submit {
	padding: 0 20px;
	margin-right: 10px;
}
.order .page-heading {
	background-image: url(../images/bg-cart-heading.jpg);
}




.login .page-heading {
	background-image: url(../images/bg-contact-heading.jpg);
}
.login .style-form-submit {
	padding: 0 20px;
	margin-right: 10px;
}
.header-top .form-search {
	position: relative;
	float: right;
	width: 300px;
	margin: 3px 0;
	
}
.header-top .search-form-text {
	background-color: transparent;
	height: 25px;
	line-height: 25px;
	border: none;
	text-align: right;
	padding-right: 30px;
}
.header-top .search-form-text:focus {
	text-align: left;
}
.header-top .search-form-submit {
	position: absolute;
	right:0;
	top:0;
	background-color: transparent;
	padding: 0 7px;
	height: 25px;
	line-height: 25px;
}

#sync1 .item{    border: 1px solid #ebebeb; cursor:pointer;}
#sync2 .item{    border: 1px solid #ebebeb;    margin-right: 15px; cursor:pointer;}
#sync1 .owl-controls .owl-buttons{
    position: absolute;
    top: 47%;
    width: 100%;
	display:none;
}
#sync1:hover .owl-buttons{display:block;}
.synced .item{    border: 1px solid #04a910;}
#sync1 .owl-controls .owl-prev{
    position: absolute;
	background: url(../images/icon_btn_slider.png?1459129840912) 9px center no-repeat;
    left: 0px;
    text-indent: 8000px;
    width: 30px;
    border: 1px solid #ccc;
    border-radius: 0px;
	    margin: 0px 15px;
}
#sync1 .owl-controls {
    margin-top: 25px;
    text-align: center;
}
#sync1 .owl-buttons .owl-next{
    position: absolute;
    background: url(../images/icon_btn_slider.png?1459129840912) -15px center no-repeat;
    right: 0px;
    text-indent: 8000px;
    width: 30px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin: 0px 15px;
}
.right { 
    border: 1px dotted #7d7d7d;
     border-radius: 5px;
}

.media { margin-bottom: 14px; clear: both; display: block; }

.media .pull-left img {
    width: 140px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.media-body a h4 {
    margin: 0;
    padding: 0px 0 10px 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #111111;
}

.media-body a:hover h4 { color:#ca2631; }

#footer{ margin-top:20px; }
.product-name{ padding-top:0; }

.pagination>li>a,
.pagination>li>span { margin-left:5px; }
.pagination{ margin-top:10px; }