/* Table of content
1.General - This is created general styles and overide some bootstrap classes.
2.Layout
2.1 Animations
2.2 Buttons
2.3 Thumbnail - overide bootstrap thumbnail and add mased efect
2.4 Socail icons -style for social icons list
3 Sections - definition for section and subsection
3.1 Services
3.2 Portfolio
3.3 About
3.4 Clients
3.5 Price table
3.6 Newsletter
3.7 Contact
3.8 Footer
5 Article , blogs
6 Paginate
4 Responsive
**********************************************************************/

/*
1. General
**********************************************************************/
body {
	font-family:'Arial, 'Helvetica Neue', Helvetica, sans-serif', sans-serif;
	color: #333;
	line-height:1.2em;
	font-size:17px;
	line-height:20px;
}
a {
	color:#181A1C;
	text-decoration: none;
}
a:hover {
	color: #00a584;
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h1 {
	margin: 10px;
}
p {
	padding: 10px;
	font-weight: 300;
	color: #333;
}
.mb10{margin-bottom:10px}
.mt60{margin-top:30px;}
.mt60 h1{
	font-size:24px;
	line-height:32px;
	margin:10px 0;
}
.color1{
	background: #00a584;	
}
.color2{
	background: #ffffff;	
}
.color3{
	background: #f6f7f8;	
}
.color4{
	background: #4d4e4a;	
}
.scroll-fixed{
	//background: #000 !important;
	box-shadow: 0px 0px 5px #000;
	position: fixed;
}
.scroll-fixed-mobile{
	position:fixed !important;
	background: #fff !important;
	box-shadow: 0px 0px 5px #000;
}
.navbar {
	margin-bottom: 0;
	top: 0 !important;
	left: 0;
	width: 100%;
	z-index: 999;
	background:rgba(249, 249, 249, 0.7);
}


.navbar-fixed-top {
	min-height:60px;
	height:60px;
	padding-top:0;
}

.navbar-inner {
	background:  transparent;
	border-radius:0;
	filter: none;
	border: none;
	box-shadow: none;
}
.navbar .brand{
	padding:0px;
	width: 160px;
	height:40px;
}
.navbar .brand img {
	height:100%;
}
.navbar .nav > li > a {
	text-transform:uppercase;
	vertical-align: middle;
	margin:20px 0px;
	font-size:13px;
	color: #454545;
	box-shadow:none !important;
	text-shadow: none;
}
.navbar .nav > li > a:hover{
	color:#fff;
}
.navbar .nav > li:hover> a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color: #fff;
	background-color: #00a584;
}
.nav-pills {
	margin-bottom: 30px;
}
.nav-pills > li > a {
	background: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-right:5px;
	padding: 10px 20px;
	font-size: 15px;
	//border: 1px solid #181A1C;
}
.nav-pills > li > a:hover, .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
	background: #00A584;
	color: #fff;
}
.navbar .btn-navbar:hover, .navbar .btn-navbar {
	border-radius:0;
	background:#00a584;
	color: #000;
}
#cart-target {
	line-height: 38px;
	height: 38px;
	margin: 20px 0;
}
#cart-target .cart{
	display: block;
	color: #555;
	background: #fff;
	border: 1px solid #00a584;
font-size:14px;
}
#cart-target .cart span{
	padding: 0 10px;
	height: 38px;
	line-height: 38px;
}
#cart-target .cart .fa{
	background: #00a584;
	border-right: 1px solid #f5f5f5;
	font-size: 18px;
	color: #fff;
	vertical-align: top;
}
/******
2. Layout
**********************************************************************/
.centered {
	margin-left:auto;
	margin-right:auto;
	float: none;
	text-align: center;
}
/* Use this class if you want ceter element with span* class */
.center {
	float: none !important;
	margin: 0 auto !important;
	text-align: center;
}
.highlighted-box {
	background:#F4F8F9;
	padding:20px 30px;
}
.highlighted-box h1 {
	margin:0px;
}
.large-text {
	line-height:1.2em;
	font-size: 30px;
	color: #fff;
	padding:20px;
	margin-bottom:20px;
}
.highlighted-box h1, .highlighted-box p {
	color: #181A1C !important;
}
.circle-border {
	display: inline-block;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	-khtml-border-radius: 500px;
	border: 3px solid #fff;
}
.left-align {
	text-align:left;
}
.right-align {
	text-align:left;
}
.error {
	color: #CF0000;
	display: none;
}
.invisible {
	display:none;
	visibility:visible;
}
/*
2.1 Animations
**********/
.zoom-in {
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	transition: all 250ms ease;
}
.zoom-in:hover {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
}
/*
2.2 Buttons - There are buttons on a transparent background, primary and secondary color background.
**********/
.button,  .button:visited, .button:focus {
	display:inline-block;
	border:1px solid #4d4e4a;
color:#4d4e4a;
background-color:transparent;
padding:15px 30px;
font-size:17px;
line-height:auto;
}
.button:hover, .button:active{
	background-color:#4d4e4a;
	color:#fff;
}
.button-sp, .button-sp:visited, .button-sp:focus {
	border:none;
	background-color:#4d4e4a;
	color:#fff;
}
.button-sp:hover, .button-sp:active {
	background-color:#4d4e4a;
}
.button-ps, .button-ps:visited, .button-ps:focus {
	border:none;
	background-color:#4d4e4a;
	color:#00a584;
}
.button-ps:hover, .button-ps:active {
	background-color:#00a584;
	color:#fff;
}
/*
2.3 Thumbnails - Predefined bootstrap's thumbnail class.
**********/
.thumbnail {
	width:100%;
	height:100%;
	padding:0;
	overflow: hidden;
	position: relative;
	border:0;
	border-radius:0;
	box-shadow:none;
	text-align:center;
	//background: #191a1c;
}
.thumbnail .more {
	display:block;
	z-index:4;
	position:absolute;
	top:-100px;
	left:50%;
	margin:0 auto;
	margin-left:-41px;
	width:80px;
	height:80px;
	font-size:40px;
	color:#fff;
	text-decoration:none;
	line-height: 70px;
	text-align: center;
}
.thumbnail:hover .more {
	top:40%;
	margin-top:-40px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3 s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.thumbnail h3, 
.thumbnail p {
	margin:0;
	padding:0;
	position:relative;
	z-index:4;
}

.product-info h3 a{
	color:#333;
	font-size:16px;
}
.thumbnail > p {
	padding-bottom:20px;
}

.product-loop {
	margin-bottom: 30px;
	position:relative;
}
.icon-sale{
	color: #fff;
	height: 30px;
	line-height: 30px;
	position: absolute;
	text-align: center;
	width: 50px;
	z-index: 1;
	top: 0;
	background-color: #d31c23;
	right: 0;
}
.product-info{
	padding:10px;
	text-align:center;
}
.product-info h3{
	line-height: 20px;
	overflow: hidden;
	height: 42px;
	margin: 0 0 5px;
}
.product-info h3 a{
	display:block;
}
.product-info p.price {
	padding: 0;
	font-weight: initial;
	float:left;
	width:50%;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
}
.product-info p.price.fix-display{
	display:block;
}
.new-price {
	font-weight: bold;
	color: #f0545a;
	font-size: 18px;
}
.old-price {
	color: #ccc;
	text-decoration: line-through;
	font-size: 16px;
}
.product-info form{
	margin-bottom:0;	
	float:left;
	width:50%;
}
.btn-fix{
	line-height: 35px;
	height: 35px;
	display: block;
	padding: 0 10px 0 0;
	color: #fff;
	font-size: 14px;
	background: #00a584;
	box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.07);
	border: 0;
	margin:0 auto;
}
.btn-fix:before{
	content: "\f07a";
	display: inline-block;
	font-family: fontawesome;
	margin-right: 5px;
	vertical-align: top;
	border-right: 1px solid rgba(255,255,255,0.4);
	background: rgba(0,0,0,0.05);
	padding: 0 10px;
}
/*
2.4 Socail icons
************/
.social {
	list-style: none;
	float: none;
	position:relative;
	margin:5px; auto;
}
.social li {
	display:inline-block;
	font-size: 24px;
	padding:0 5px;
}
.social li a {
	color:#bfbfbf;
}
.social li a:hover {
	color:#00a584
}
/*
3. Sections 
***************************************************************************/
.section {
	padding-bottom: 20px;
}
.section .container {
	padding:50px 0 30px;
}
.section .title {
	text-align: center;
	padding:0px;
}
.section .title h1, .section .title h2 {
	font-weight: 600;
	margin: 0;
	padding: 0;
	font-size: 24px;
	text-transform: uppercase;
	line-height:36px;
}
.section .title h1:after, .section .title h2:after {
	content:"";
	display:block;
	width:80px;
	height:2px;
	background:#00a584;
	margin:20px auto 20px auto;
}
.section .title > p {
	font-size: 16px;
	line-height:24px;
}
.primary-section h3{
	font-size:16px;
	text-transform:uppercase;
	font-weight:600;
	line-height: 20px;
}
/* Third section use bacground image */
.third-section {
	padding-bottom: 40px;
	border-top:6px solid #00a584;
}
.third-section .container {
	padding-top:20px;
	position:relative;
}
.sub-section {
	//margin-top:30px;
}
.sub-section .title {
	padding:0;
}
.sub-section .title h3{
	font-size: 32px;
	text-transform: capitalize;
	line-height: 36px;
}
/*******
3.1 Services  
***************************************/
.dichvu-bg{background:#f6f7f8}
.service, .service h2 {
	padding-top:15px;
}
.service p {
	padding:0px 50px;
	height:60px;
	overflow: hidden;
	font-size: 14px;
	text-align: justify;
}
.service img {
	width:150px;
	height:150px;
}
/*
3.2 Portfolio
***************************************/
.duan-bg{background:#ffffff}
.single-project {
	margin-bottom:30px;
	background:#181A1C;
}
.single-project img {
	width:100%;
}
.project-description {
	padding-right:20px;
}
.project-description p {
	padding-left:0;
}
.project-title {
	margin-top:15px;
	margin-bottom:15px;
	border-bottom:1px solid #00a584;
}
.project-title h3 {
	float:left;
	margin-top:0;
	padding:0;
	width:80%;
}
.project-title .close {
	color: #00a584;
	margin-top:10px;
}
.project-info span, .project-title h3 {
	color:#00a584;
}
.project-info {
	font-weight:100;
	padding:10px 0;
}
.project-info span {
	width: 80px;
	display: inline-block;
}
.project-info div {
	margin-bottom:5px;
}
.close {
	float: right;
	width: 40px;
	height: 40px;
	text-align: center;
}
/*
3.3 About
******************************************************************/
.gioithieu-bg{background:#f6f7f8}
.nhanxet-bg{background:#ffffff}
.blog-bg{background:#f6f7f8}
.doitac-bg{background:#ffffff}
.team .thumbnail {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.team .thumbnail-info p {
	font-size: 16px;
	font-weight: 700;
	margin-top: 15px;
	line-height: 24px;
}
.team .thumbnail-info span{
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 24px;
	display: block;
}
.about-text {
	//margin-top:30px;
}
.about-text p {
	padding:0;
	font-size:14px !important;
	text-align: justify;
	margin-top:10px;
}
/*
3.4 Clients
**********************************************************************/
.client-slider img {
	//border:1px solid white;
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%);
}
.client-slider img:hover {
	//background-color:#00a584;
	filter: none; /* IE6-9 */
	-webkit-filter: grayscale(0);
}
.client-slider > li{
	display:flex !important;
	align-items: center;
	height: 67px;
}
.index-slider {
	position: relative;
}
.client-nav {
	list-style:none;
	margin-top:10px;
}
.client-nav li {
	float:left;
	display:block;
	margin:0;
}
.client-nav li a {
	display:block;
	padding:5px;
	background:#00a584;
	border-radius:3px;
	width:30px;
	height:30px;
	line-height:23px;
	color:#fff;
}
.client-nav li a:hover {
	background:#181A1C;
}
.index-slider #client-prev {
	position: absolute;
	left: -20px;
	top: calc(50% - 15px);
}
.index-slider #client-next {
	position: absolute;
	right: -20px;
	top: calc(50% - 15px);
}
.testimonial p {
	//color:#fff;
	//background:#00a584;
	padding:15px;
	margin:0;
}
.testimonial .arrow {
	margin-left:10px;
	width:0;
	border-top:10px solid #00a584;
border-left: 20px outset transparent;
border-right: 20px outset transparent;
}
.testimonial .whopic {
	display:inline-block;
}
.testimonial .whopic img {
	margin-top:10px;
	width:50px;
	float:left;
}
.testimonial .whopic strong {
	float:left;
	margin-top:10px;
	padding-left:10px;
}
.testimonial .whopic small {
	display:block;
	font-size:12px;

}
.testimonial-text{
	display:block;
	font-size:22px;
	text-align:center;
	margin:0 auto;
	margin-top:30px;
	width:70%;
	line-height:1.3em;
}

/*
3.6 Newsletter
********************************************************************/
.newsletter, .newsletter h2 {
	color: #D7DDDE;
}
.newsletter .title h2 {
	text-align:left;
	padding:0;
	margin:0;
}
.newsletter form {
	background:none;
	padding:0;
	margin:0;
}
.newsletter input {
	text-indent:10px;
	height: 40px;
	line-height:40px;
	width:calc(100% - 100px);
	float:left
}
.newsletter input:focus{
	border-color: #00a584
}
.newsletter button {
	margin: 0 0 0 10px;
	border-radius: 4px;
	padding: 0;
	width: 90px;
	height: 40px;
	line-height: 40px;
}
.newsletter .button-sp:hover, .newsletter .button-sp:active {
	background-color:#00a584;
	color:#fff;
}

/*
3.7 Contact
********************************************************************/
.fix-height-contact {
	height: 450px;
}
.contact {
	//background: #00a584;
	margin-bottom:20px;
}
.contact .section .title > p, .contact .social > li > a {
	color: #181A1C;
}
.contact textarea, .contact input[type="text"], .contact input[type="email"], .contact input[type="password"] {
	padding: 10px;
	line-height: 20px;
	height: auto;
}
.contact textarea {
	height: 120px;
	color:#333;
}
.contacts, .contact .social {
	color: #fff;
	list-style: none;
	margin-left: 10px;
}
.contacts > li {
	margin-top: 15px;
}
.contacts > li > a {
	color: #fff;
}
.contact-info {
	margin-top:10px;
	margin-bottom:10px;
}
.contact-info p{
	font-weight:normal;
}
.contact-info .icon {
	margin:10px auto;
	font-size:30px;
}
.contact .social {
	display: inline-block;
	margin-left:0;
}
.contact .social li {
	line-height: 32px;
	padding:10px 10px;
	font-family:'Porta';
	font-size: 50px;
	transition: margin 0.4s;
	-webkit-transition: margin 0.4s;
}
.contact .social li a {
	color:#fff;
}
.contact .social li a:hover {
	color:#181A1C;
}
.contact-form {
	//background:#fff;
	//background: rgba(255, 255, 255, 0.9);
	z-index:110;
	position:relative;
	//margin-top:-25px;
	//padding:0 20px;
	margin-bottom:0;
}
.fix-height-contact h3 {
	//color:#838589;
	//padding-bottom:20px;
	margin-top:0;
}
.message-btn {
	border:1px solid #747C89;
	color:#333;
	background-color:transparent;
	padding:15px 30px;
	font-size:17px;
	margin-bottom:10px;
}
.message-btn:hover {
	background-color:#00a584;
	color:#fff;
	border-color:#00a584;
}
.contact-info {
	text-align:center;
	font-size:22px;
}
.info-mail {
	border:1px solid white;
	width:60%;
	margin:0 auto;
	padding:15px;
	color:#181A1C;
}
.black {
	color:#181A1C;
}
/*
3.8 Footer
********************************************************************/
.footer {
	background: #333;
}
.footer p.copyright {
	clear:both;
	color: #999;
	margin:0;		
	text-align: center;
	border-top: 1px solid #474747;
	font-size:14px;
}
.footer p.copyright a{
	color:#ccc;
}

.footer a:hover, .footer a:focus{
	text-decoration: underline;
}
.footer-block{
	padding:30px 15px;
}
.footer-block h3{
	text-transform:uppercase;
	font-size:16px;
	color:#ddd;
	font-weight: 600;
}
.footer-block .footer-content {
	color: #999;
	font-size: 14px;
}
.footer-block ul li a {
	color: #ccc;
	padding: 3px 0px;
	font-size:16px;
}
.footer-block ul li a:hover {
	color: #fff;
	background:none;
}
.footer-block ul li a i{
	margin-right:5px;
}
.blog-item{
	border-bottom: 1px dashed #474747;
}
.blog-item.last {
	border:0;
}
.blog-item h4{
	margin-bottom:5px;
}
.blog-item h4 a {
	color: #ccc;
	font-size: 16px;
	display: block;
}
.blog-item h4 a:hover {
	color:#fff;
	text-decoration:none;
}
.blog-item p.time{
	color:#999
}
.scrollup {
	text-align:center;
	cursor:pointer;
	vertical-align:middle;
	width:39px;
	height:39px;
	border-radius:5px;
	font-size:20px;
	position:fixed;
	bottom:30px;
	right:20px;
	display:none;
	background: #00a584;	
	border:1px solid #fff;
	z-index:9999;
}
.scrollup > a {
	position:relative;
	top:7px;
	color:#fff;
}
/*5 Article , blogs*/
#article, #blog{
	padding:0 0 30px 0;
}
p.time{
	padding: 0;
	font-size: 14px;
	font-style: italic;
}
#article .socials{
	margin-bottom:10px;
}
.widget{
	margin-bottom:30px;
	background: #f6f7f8;
	padding: 10px 10px 20px;
}
.widget h4.title, .tags h4.title{
	padding-bottom: 5px;
	font-size:20px;
	margin-top:0px;
	border-bottom: 2px solid #00a584;
}
.widget ul, .tags ul{
	list-style:none;
	margin:0;
}
.widget ul li{
	border-bottom:1px solid #ebebeb;
	padding:5px 0;
}
.widget ul li:last-child{
	border:0;
}
.widget ul li a {
	display: block;
	line-height: 24px;
	font-size:15px;
}
.widget ul li a i{
	margin-right:5px;
	display:none;
}
.widget ul li a:hover{
	color:#00a584 !important;
	padding-left:10px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}
.widget ul li a:hover i{
	display:inline-block;
	color:#00a584 !important;	
}
.tags ul li{
	display:inline-block;
	background: #fff;
	line-height:initial;
	margin-bottom:5px;
	border:1px solid #00a584 !important;
}
.tags ul li a{
	padding:5px 10px;
	display:inline-block;
}
.tags ul li:hover{
	background: #00a584;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}
.tags ul li:hover a{
	color:#fff !important;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}
.current-tag{
	display:block;
	margin-bottom:10px;
}
.article-loop {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.article-loop .image {
	max-height: 250px;
	overflow: hidden;
	text-align:center;
}
.article-loop .info h3{
	line-height:initial;
}
.article-loop .info h3 a{
	display: block;
	font-size: 20px;
	height: 46px;
	overflow: hidden;
}
.article-loop .info h3 a:hover{
	color:#00a584 !important;
}
.article-loop p.des {
	padding: 0;
	font-size: 16px;
	height: 100px;
	overflow: hidden;
	color: #666 !important;
}
.article-loop .view-more{
	color:#00a584 !important;
	font-size:14px;
}
.article-loop .view-more:hover{
	text-decoration:underline;
}
/*6 Paginate*/
#pagination {
	background: #fff;
	//box-shadow: 1px 1px 2px #ccc;
	border-radius: 5px;
	width: 100%;
	//float: left;
	margin:15px 0;
}
#pagination .prev, #pagination .next {
	color: #828282;
	font-size: 22px;
	position: relative;
	line-height: 40px;
}
#pagination .fa:before {
	font-size: 27px;
	position: absolute;
}
#pagination .prev span, #pagination .next span {
	font-size: 12px;
	text-transform: uppercase;
	padding: 0px 5px 0px 20px;
	white-space: nowrap;
	line-height: 29px;
}
#pagination .next:before {
	right: 0px;
}
#pagination .next span {
	padding: 0px 20px 0px 0px;
	text-align: right;
}
#pagination a.page-node, #pagination span.page-node {
	font-size: 15px;
	color: #828282;
	height: 40px;
	width: 40px;
	display: inline-block;
	line-height: 40px;
	border: 1px solid #828282;
}
#pagination a.page-node:hover, #pagination span.page-node.current {
	border-bottom: 2px solid #00a584;
color: #00a584;
font-weight: bold;
}
div#pagination .prev:hover, div#pagination .next:hover ,
div#pagination .prev:hover span, div#pagination .next:hover span{
	color:#00a584;
}
.slicknav_nav ul{
	margin:0;
}
.slicknav_menu .slicknav_icon-bar{
	background-color: #fff;
}
.slicknav_nav{
	top:70px;
	background:#181A1C;
}
.slicknav_btn{
	padding: 7px 8px 7px 8px;
	background: #00a584;
	margin: 10px 0;
}
/*Slider*/
#slideshow .slider-container {
	overflow: hidden;
	background-color: #f5f5f5;
}
.slider-container {
	margin: 0px;
	background-color: transparent;
	position: relative;
	width: 100%;
}
.slider-container .img-responsive{
	width:100%;
}
.leo-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
	direction: ltr !important;
}
.slides, .leo-control-nav, .leo-direction-nav {
	margin: 0px;
	padding: 0px;
	list-style: outside none none;
}
#sliderlayer li{position:relative}
#sliderlayer li .slide-caption {
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 35px;
	overflow: hidden;
	padding: 10px 15px;
	text-align: center;
	color:#fff;
}
.leo-control-nav {
	width: 100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
}
.leo-control-nav li {
	position: relative;
	margin: 0px 6px;
	display: inline-block;
}
.leo-control-nav li a {
	position: relative;
	cursor: pointer;
	font-size: 0px;
	width: 20px;
	height: 20px;
	display: block;
	border-radius: 100%;
	border: 2px solid rgba(255, 255, 255, 0);
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.leo-control-nav li a.leo-active {
	border: 2px solid #00a584;
}
.leo-control-nav li a:before {
	content: "";
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	border-radius: 100%;
	background-color: #00a584;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.leo-control-nav li a.leo-active:before {
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	-ms-transform: scale(0.4);
	-o-transform: scale(0.4);
	transform: scale(0.4);
}
.leo-direction-nav a {
	position: absolute;
	top: 50%;
	margin: -22px 0px 0px 0px;
	opacity: 0;
	filter: alpha(opacity=0);
	display: block;
	cursor: pointer;
	font-size: 0px;
	width: 40px;
	height: 40px;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	-webkit-box-shadow: 0 0 0 2px #00a584 inset;
box-shadow: 0 0 0 2px #00a584 inset;
}
.leo-direction-nav a.leo-prev {
	left: 0px;
}
.leo-direction-nav a.leo-next {
	right: 0px;
}
.slider-container:hover .leo-direction-nav a.leo-prev {
	left: 20px;
	opacity: 1;
	filter: alpha(opacity=100);
}
.slider-container:hover .leo-direction-nav a.leo-next {
	right: 20px;
	opacity: 1;
	filter: alpha(opacity=100);
}
.leo-direction-nav a:before {
	font-family: "FontAwesome";
	font-size: 20px;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	line-height: 40px;
	text-align: center;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	color: #00a584;
}
.leo-direction-nav a.leo-prev:before {
	content: "\f104";
}
.leo-direction-nav a.leo-next:before {
	content: "\f105";
}
.leo-direction-nav a:hover {
	border-left-color: #656565;
	-webkit-box-shadow: 0 0 0 30px #00a584 inset;
box-shadow: 0 0 0 30px #00a584 inset;
}
.leo-direction-nav a:hover:before {
	color: #ffffff;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.preview .leo-control-nav, #sliderproduct-mobile .leo-control-nav{
	bottom:0;
	display:block;
}
.preview .leo-direction-nav{
	display:none;
}
/*Blog index*/
.blog-loop {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #a1aab7;
}
.blog-loop .blog-img{
	width:30%;
	margin-right:5%;
}
.blog-loop .blog-info{
	width:65%;
}
.blog-loop .blog-info h3 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	margin-top: 0;
}
.blog-loop .blog-info p {
	padding: 0;
	font-size: 14px;
	color: #666;
	height: 60px;
	overflow: hidden;
	margin-bottom: 20px;
}
.blog-loop .blog-info .readmore{
	padding: 0px 20px;
	display: inline-block;
	color: #ffffff;
	background-color: #00a584;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.07);
	border-radius: 3px;
	border: 0;
	cursor: pointer;
	font-weight: 400;
	height: 35px;
	line-height: 35px;
	vertical-align: middle;
	font-size: 14px;
	box-sizing: border-box;
}
.viewmore.text-center a {
	padding: 10px 15px;
	background: #4d4e4a;
	color: #fff;
}
.browse-tags{
	margin: 10px 0;
}
.browse-tags .sort-by{
	width:inherit;
}
#collection > div, #products > div{ margin-top:15px;}
/*Product*/
#products h1 { font-size: 24px; margin-top: 0;}
#products .product-vendor, .inventory{padding:0}
#price-preview{margin-bottom:10px;}
#price-preview span{
	font-weight: bold;
	color: #f0545a;
	font-size: 20px;
}
#price-preview del{
	color: #666;
	margin-right: 10px;
}
.select-wrapper label , .selector-wrapper label{
	display: inline-block;
	margin-right: 10px;
	cursor:initial;
}
.selector-wrapper {
	margin-bottom: 10px;
}
.selector-wrapper select{width:initial}
input#quantity {
	height: 34px;
	width: 80px;
	text-indent: 10px;
}
.actions-btn .btn-fix{
	margin:0;
}
.bonus { border: 1px solid #ccc;}
.bonus .title{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	padding: 5px 10px;
	margin-bottom:0;
}
.bonus-list li {
	padding: 0 10px 0 0;
	font-size: 14px;
}
#sliderproduct {margin: 15px 0;}
#sliderproduct .item.product-thumb {
	float: left;
	width: 60px;
	margin:0 10px 10px 0;
}
#mota {
	margin-bottom: 30px;
	padding: 30px 0;
}
.product-comment h4 , .title-line h4{
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ccc;
	color: #333;
	font-size: 16px;
}
.product-comment h4 span, .title-line h4 span {
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	font-weight: 600;
}
.product-comment h4 span:after, .title-line h4 span:after {
	content: "";
	position: absolute;
	bottom: -2px;
	height: 3px;
	background: #00a584;
	width: 100%;
	left: 0;
}
.title-line{margin-bottom:15px;}
.mini-products-list .item {
	margin: 0;
	text-align: left;
	margin-bottom: 15px;
	padding-bottom:15px;
	border-bottom:1px solid #ebebeb;
}
.mini-products-list .item:last-child {
	border:0
}
.mini-products-list .item:first-child {
	margin-top: 21px;
}
.mini-products-list .item .item-img {
	float: left;
	padding-right: 10px;
	width: 90px;
}
.mini-products-list .item .item-img img {
	border: 1px solid #ebebeb;
}
.mini-products-list .item .item-info {
	float: left;
	width: calc(100% - 90px);
}
.mini-products-list .item .item-info a {
	display: block;
	max-height: 38px;
	overflow: hidden;
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 3px;
}
.special-price .price {
	font-size: 17px;
	color: #f0545a;
	font-weight: 600;
}
/*Scroll fixed*/
.scroll-fixed.navbar .brand,.scroll-fixed #cart-target, .scroll-fixed .nav > li > a{
	margin-top:0;
	margin-bottom:0;
}
/*4 Responsive*/
@media (min-width: 1200px) {
	.thumbnail .more {
		margin-left:-41px;
		width:80px;
		height:80px;
		border-radius:40px;
		line-height: 80px;
	}
}
@media screen and (min-width:768px) and (max-width:1199px){
	.footer-block:nth-child(2n + 1){clear:both;}
}
@media (max-width: 979px) {
	body {
		padding-left:0;
		padding-right:0;
	}
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: fixed;
	}
	.navbar .nav > li > a {
		line-height: 20px;
		vertical-align: middle;
	}
	.section {
		//padding-left:20px;
		//padding-right:20px;
	}
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin-left: 0px;
		margin-right: 0px;
	}
	.nav-collapse {
		clear: both;
	}
	.nav-collapse .nav {
		float: none;
		margin: 0 0 10px;
	}
	.nav-collapse .nav > li {
		float: none;
	}
	.nav-collapse, .nav-collapse.collapse {
		width: 100%;
		display: inherit;
	}
	.thumbnail .more {
		margin-left:-21px;
		width:40px;
		height:40px;
		border-radius:30px;
		line-height: 40px;
	}
	.thumbnail:hover .more {
		margin-top:-20px;
	}
	.newsletter form {
		text-align:center;
	}
}
@media (max-width: 767px) {
	.section .container{
		padding-top:0px;
	}
	.info-mail {
		width:90%;
		padding:15px 0px;
	}
	.project-description {
		padding-left:20px;
	}
	.testimonial {
		margin-top:30px;
	}
	.map-wrapper{height:initial;}
	.map-fix{
		margin-top: 15px;
		padding:0;
	}
	.newsletter button{
		margin-left:0;
	}
	.footer-block {
		padding: 0px 15px 20px;
		border-bottom: 1px solid #474747;
	}
	.footer-block.last {
		border:0;
	}
	.service p{
		padding:0 10px;
	}
	.section .title, .section .title > p{
		padding: 10px 0;
	}
	.section .title h1, .section .title h2{
		margin:10px 0;
		font-size: 20px;
	}
	.large-text{
		padding:10px 0;
		font-size:24px;
	}
	.testimonial-text{
		padding:0;
		width:100%;
	}
	.price-table, .price-column{
		margin-top:0;
	}
	div#header-mobile-menu{
		border:0;
	}
	.blog-loop .blog-img,.blog-loop .blog-info{
		width:100%;
		margin-right:0;
	}
	.blog-loop .blog-info{margin-top:10px;}
	.blog-loop .blog-info p{height:initial;margin-bottom:10px;}
	#cart-target .cart{position:relative;}
	span.cart-number.visible-xs {
		position: absolute;
		top: -1px;
		right: -1px;
		height: 15px !important;
		line-height: 15px !important;
		padding: 0 !important;
		display: block;
		width: 15px;
		text-align: center;
		color: #fff;
		font-weight: 600;
		background: rgba(0, 0, 0,0.7);
	}
	.leo-control-nav{display:none;}
	#products h1{margin-top:10px;}
}
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus{
	border:0;
}
@media screen and (min-width:992px){
	.navbar .brand{margin:20px 10px 20px 0;}
}
@media screen and (max-width:991px){
	.slicknav_btn{padding: 14px 8px 14px 8px;margin:4px 0;}
	#header-mobile-menu{margin-left:15px;}
	.navbar-inner{padding:0 15px;}
	.navbar{position:initial;}
	.navbar .brand{padding: 5px 0;width:initial}
	#cart-target .cart .fa{border:0;}
	.team .thumbnail h3{
		bottom: 0;
		position: initial;
		height: inherit;
	}
	.team .thumbnail .social{
		background: #4d4e4a;
		margin: 0;
	}
	.social li a, .team .thumbnail h3{color:#fff;}
	.client-slider img{
		filter: none;
		-webkit-filter: grayscale(0);
	}
	.footer-block{padding-bottom:0;}
	.mt60{margin-top:10px;}
}
.paginations {margin-bottom: 10px;}

.paginations ul li{
	display: inline-block;
	margin: 0 5px;
}
.paginations ul li a{
	    background: #fff;
    color: #4c4c4c;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 34px;
    padding: 0px 15px;
    position: relative;
    border: 1px solid #ebebeb;
}
.paginations ul li a:hover,.paginations ul li.current a {
	color: #fff;
	background:#3bb2ca;
}
.paginations ul li a.next-arrow{
}

/*********************CSS Cart************************/
	#cart{padding-bottom:70px;}
	table.cart thead th {color: #666;}
	table.cart tr th {text-align: center;}
	table.cart{text-align: center;width: 100%}
	table.cart td.image,table.cart th.image{width:10% !important;}
	table.cart td.item, table.cart td.item{width:55% !important;}
	table.cart td.qty, table.cart td.qty{width:10% !important;}
	table.cart td.price, table.cart td.price{width:20% !important;}
	table.cart td.remove, table.cart td.remove{width:5% !important;}
	input.item-quantity {border: 1px solid #ddd;border-radius: 3px;text-align: center;width: 80px; height: 40px;line-height: 40px;}
	table.cart tr th {padding: 10px 0px;margin-bottom: 10px !important;background-color: #efefef;border: 1px solid #e9e9e9;}

	td.remove a:before {
	content: '\f00d';
	display: inline-block;
	font-family: FontAwesome;
	width: 20px;
	height: 20px;
	font-size: 15px;
	color: #ddd;
	border: 1px solid #ddd;
	border-radius: 50%;
	line-height: 17px;
	}
	.product_image img {margin: 10px 0px 10px;}
	table.cart tbody tr.item td{border: 1px solid #ddd;}
	tr.item td.price{color:#f0545a;font-weight:600}
	button#checkout:hover,button#update-cart:hover {background: #00a584;;color: #fff;}
	table.cart tbody tr.summary td {padding: 30px 0px 0px;}
	button#checkout, button#update-cart{
	transition: all 0.25s ease-out;
	text-transform: uppercase;
	padding: 0px 20px;
	line-height: 40px;
	height: 40px;
	border: none;
	color: #666;
	background: #f5f5f5;
	display: inline-block;
	position: relative;
	}
	button#checkout{
	background: #00a584;
	color:#fff;
	margin: 20px 0 0 20px;
	}
	button#update-cart{	margin: 20px 0 0;}
	td.remove a:hover:before {border-color: #f0545a;color: #f0545a;	}
	.cart-visible{display:none;}

	.cart-buttons {padding-right: 0px;}
	@media screen and (max-width:550px){
	.cart-hidden, table.cart thead{display:none;}
	.cart-visible{display:block;}
	.cart-visible .product_image{padding:0;}
	table.cart tbody tr.item td {border: 1px solid #efefef;display: block;width: 100% !important;}
	table.cart tbody tr.item{width: 100% !important}
	.cart-item.cart-visible {padding-bottom: 20px;}
	.buttons.clearfix.pull-right {float: initial !important;}
	.product_info .title, .product_info .qty, .product_info .price-text{padding: 5px 0px;}
	input.item-quantity {margin-left:5px;}
	.remove-xs a {color: #f00;}
	.product_info .price-text .price{color:#f0545a;font-weight:600}
	#cart h1{margin-bottom:15px;}
	button#checkout, button#update-cart{padding:0 15px;}
	}

        
  /*chorm*/      

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a3a3a3;
}


/*menu*/

    div#mobile-nav {
    position: relative;
    z-index: 9999;
    font-size: 14px;
}

#mobile-nav li {
    float: left;
}
#mobile-nav li {
    list-style: none;
    position: relative;
}
#mobile-nav li a {
    text-decoration: none;
    color: #333333;
  
  
}
#mobile-nav li a:hover {
    color: #ff6709;

}

#mobile-nav ul li.active a {
 
}
/* Submobile-nav */

#mobile-nav li ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0;
    margin: 0;
    /*	background-image: url(../images/bg_mobile-nav.png);
	background-repeat: repeat;*/
    
    background-color: #FFFFFF;
}
#mobile-nav li ul a {
    
    background-color: #16a085;
}
#mobile-nav li:hover > ul {
    display: block;
}
#mobile-nav li ul li,
#mobile-nav li ul li a {
    float: none;
}
#mobile-nav li ul li {
    _display: inline;
    /* for IE6 */
}
#mobile-nav li ul li a {
    width: 160px;
    display: block;
    
    padding: 15px;
    border-bottom: solid 1px #FFFFFF;
   
}
/* SUBSUB Menu */

#mobile-nav li ul li ul {
    display: none;
}
#mobile-nav li ul li:hover ul {
    left: 100%;
    top: 0;
}

.product-thumbnail-preview {position: relative;background-color: #fff;}
.product-thumbnail-preview:before {content: "";display: block;padding-top: 100%;}
.product-thumbnail {overflow: hidden;position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 1;-webkit-transition: opacity .1s;transition: opacity .1s;margin: 0;padding: 0;border: 0;border-radius: 0;}
.product-thumbnail:after {content: "";display: block;position: absolute;top: 0;left: 0;right: 0;bottom: 0;overflow: hidden;}
.product-thumbnail .centered {position: absolute;top: 0;left: 0;width: 100%;height: 100%;-webkit-transform: translate(50%,50%);-ms-transform: translate(50%,50%);transform: translate(50%,50%);}
.product-thumbnail .centered img {-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.product-thumbnail img {position: absolute;top: 0;left: 0;max-width: 100%;}

#blog-index .col-sm-12:last-child .blog-loop{ border-bottom:0; }

.paginations ul li{ margin:0; }
.paginations ul li span{ border:#ebebeb 1px solid; display:block; line-height:34px; padding:0 15px; }
.paginations ul li.active span{ background:#3bb2ca; }
.paginations ul li.disabled span{ background:#fafafa; }

#blog .col-sm-12:last-child .article-loop{ border-bottom:0; padding-bottom:0; }
#blog .article-loop p.des{ height:auto; }

.tags ul.list{ margin-top:10px; }

.action_bottom{ margin-top:10px; }

.product-info{ padding:0; }

#code{ height:auto; margin-bottom:0; width:50%; }
.discount-code{ padding-bottom:10px; }
.discount-code .event-voucher-apply{ padding:4px 12px; }

#wrapper-detail .img-product img {height:240px;}
#wrapper-detail .thumb-mt20 .product-thumb img {height:70px;}














