/* 09. Responsive
================================================== */
/* #Media Queries */
.tinynav {
  display: none; }

@media only screen and (max-width: 999px) {
  .fix-width {
    margin: 0 10px; } }

/* Smaller than standard 960 (devices and browsers) */
@media screen and (max-width: 959px) {
  .wrapper > .fix-width:first-child {
    padding-top: 20px; } }

@media screen and (max-width: 900px) {
  .site-branding .logo img {
    max-height: 60px; } }

@media screen and (max-width: 859px) {
  .wrapper > .fix-width:first-child {
    padding-top: 10px; }
  .hide-mobile {
    display: none !important; }
  .wrap-menu-mobile {
    margin-left: 10px; }
  .menu-mobile {
    background: #20BCF6;
    color: #ffffff;
    display: inline-block;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    cursor: pointer;
    transition: .5s all ease;
    vertical-align: middle;
    position: relative;
    border-radius: 2px; }
  .menu-mobile:hover {
    background: #20bcf6;
    color: #ffffff; }
  .menu-bg .menu-mobile {
    height: 40px;
    line-height: 40px;
    padding: 0 10px; }
  .overlay-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease; }
  .show-menu-mobile .overlay-background {
    opacity: 1;
    visibility: visible; }
  #mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 260px;
    background: #383a47;
    z-index: 9999999;
    font-size: 15px;
    font-size: 1.5rem;
    transition: .5s all ease;
    opacity: 0;
    visibility: hidden; }
  .show-menu-mobile #mobile-menu {
    display: inline-block;
    left: 0;
    opacity: 1;
    visibility: visible; }
  #mobile-menu .close-menu-mobile {
    position: absolute;
    left: 100%;
    top: 0;
    padding: 0 15px;
    height: 45px;
    line-height: 40px;
    background: #20bcf6;
    color: #ffffff;
    font-size: 22px;
    font-size: 2.2rem;
    transition: .3s all ease;
    cursor: pointer; }
  #mobile-menu .close-menu-mobile:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25)); }
  #mobile-menu a {
    color: #ffffff; }
  #mobile-menu ul {
    list-style: none;
    margin: 0; }
  #mobile-menu .main-menu-mobile {
    height: 100%;
    overflow-y: scroll; }
  #mobile-menu .main-menu-mobile > ul > li > a {
    padding: 7px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    display: block;
    transition: .3s all ease; }
  #mobile-menu .main-menu-mobile > ul > li:hover > a,
  #mobile-menu .main-menu-mobile > ul > li.current > a {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3) inset; }
  #mobile-menu .main-menu-mobile > ul > li:hover > ul,
  #mobile-menu .main-menu-mobile > ul > li.current > ul {
    background: rgba(255, 255, 255, 0.15); }
  #mobile-menu .main-menu-mobile > ul > li ul {
    padding-left: 15px;
    transition: .3s all ease; }
  #mobile-menu .main-menu-mobile > ul > li ul li a {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
    display: block;
    padding: 5px 0 5px 15px;
    transition: .3s all ease; }
  #mobile-menu .main-menu-mobile > ul > li ul li a:hover {
    background: rgba(255, 255, 255, 0.25); }
  #main-nav .search {
    display: inline-block; }
  .list-testimonials {
    margin-top: 30px; }
  footer.footer .socials,
  footer.footer .newsletter {
    display: none; }
  nav.menu > ul > li > a {
    padding-left: 10px;
    padding-right: 10px; }
  #secondary {
    margin-top: 30px; } }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  #customer-account #customer_sidebar {
    margin: 20px 0; }
  #customer-order #order_shipping {
    margin-top: 20px; }
  .products-related .products.grid .product:nth-child(3) {
    display: none; } }

@media only screen and (max-width: 679px) {
  .home-services .service:not(:first-child) {
    margin-top: 30px; }
  .home-aboutus .section-content {
    font-size: 16px;
    font-size: 1.6rem;
    padding: 0; } }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 639px) {
  #menu-top .menu-wrap .menu {
    position: relative; }
    #menu-top .menu-wrap .menu li.search {
      padding-left: 10px;
      position: absolute;
      right: 0;
      font-size: 0; }
      #menu-top .menu-wrap .menu li.search .search_box {
        width: 0;
        padding-left: 0;
        padding-right: 0;
        -webkit-transition: .3s all ease;
        transition: .3s all ease; }
      #menu-top .menu-wrap .menu li.search form.search.open .search_box, #menu-top .menu-wrap .menu li.search:hover .search_box, #menu-top .menu-wrap .menu li.search .search_box:focus {
        width: 150px;
        padding-left: 10px;
        padding-right: 10px; }
      #menu-top .menu-wrap .menu li.search:hover {
        background: #383838; }
  .site-branding .logo {
    text-align: center; }
  .archive-content .entry .meta-entry,
  .search-content .entry .meta-entry {
    border-top: 1px dashed #eee;
    margin-top: 5px; }
  .archive-content .entry .meta-entry p,
  .search-content .entry .meta-entry p {
    display: inline-block;
    vertical-align: middle; }
  .archive-content .entry .entry-title,
  .search-content .entry .entry-title {
    font-size: 14px;
    font-size: 1.4rem; }
  footer.footer .copyright,
  footer.footer .source {
    text-align: center; }
  #product.main-product .header-product .product-title {
    font-size: 14px;
    font-size: 1.4rem; }
  #product.main-product .header-product .meta-product .product-price .price:not(.old-price) {
    font-size: 20px;
    font-size: 2rem; } }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  footer.footer .widget:not(:last-child) {
    margin-bottom: 20px; } }

@media only screen and (max-width: 400px) {
  .site-branding .logo img {
    max-height: 50px; } }

@media only screen and (min-width: 480px) {
  .products.grid .product {
    width: 48%;
    float: left;
    margin: 2.5% 0 2.5% 4%; }
  .products.grid .product:nth-child(2n + 1) {
    clear: left;
    margin-left: 0; }
  #product.main-product .header-product {
    float: right;
    width: 50%; }
  #product.main-product .product-slider {
    float: left;
    width: 47%; }
  .template-contact-us .entry-content > .apart {
    clear: both;
    float: none; }
    .template-contact-us .entry-content > .apart .apart {
      width: 48%;
      float: left;
      margin-left: 4%; }
      .template-contact-us .entry-content > .apart .apart:nth-child(2n+1) {
        margin-left: 0;
        clear: left; }
  footer.footer .widget {
    width: 47%;
    margin-left: 6%;
    float: left; }
  footer.footer .widget:first-child {
    margin-left: 0; } }

@media only screen and (min-width: 640px) {
  .menu-wrap {
    text-align: right; }
    .menu-wrap .menu li.support {
      float: left; }
  .page.template-about-us .style-three-colum .section-boxes .box {
    width: 30%;
    float: left; }
    .page.template-about-us .style-three-colum .section-boxes .box:not(:first-child) {
      margin-left: 5%; }
  .container-search-form input[type=text] {
    padding: 0 0 0 10px;
    margin: 0px 5px 0px 0;
    float: left;
    width: 40%; }
  .container-search-form .search-form button[type=submit] {
    width: calc(100% - (40% + 15px + 2px) - (22% + 5px) * 2);
    padding: 0; }
  .archive-content .entry .meta-entry,
  .search-content .entry .meta-entry {
    width: 40%;
    float: right; }
  .archive-content .entry .thumb,
  .search-content .entry .thumb {
    width: 18%; }
  .archive-content .entry .entry-detail,
  .search-content .entry .entry-detail {
    float: left;
    width: calc(100% - 25% - 10px); }
  #cart .notices {
    width: 48%;
    float: left; }
  #cart .cart-buttons {
    width: 48%;
    float: right; } }

@media only screen and (min-width: 680px) {
  .home-services .service {
    width: 30%;
    float: left; }
    .home-services .service .thumb {
      display: block;
      text-align: center; }
      .home-services .service .thumb img {
        display: inline-block;
        vertical-align: middle; }
  .home-services .service:not(:first-child) {
    margin-left: 5%; } }

@media only screen and (min-width: 768px) {
  header.header:after {
    display: block;
    content: '';
    position: absolute;
    height: 65px;
    left: 0;
    right: 0;
    top: 100%;
    background: transparent url(http://hstatic.net/785/1000080785/1000114639/bg_header.png?v=964) no-repeat scroll center top/auto 100%;
    z-index: 9; }
  .site-branding .search {
    display: inline-block;
    vertical-align: middle;
    padding-left: 50px; }
  .products.grid .product, .products.grid .product:nth-child(2n + 1) {
    width: 30%;
    float: left;
    margin: 2.5% 0 2.5% 5%;
    clear: none; }
  .products.grid .product:nth-child(3n + 1) {
    clear: left;
    margin-left: 0; }
  .show-mobile {
    display: none !important; }
  .template-contact-us .entry-content .apart {
    width: 48%;
    float: left;
    margin-left: 4%;
    clear: none; }
    .template-contact-us .entry-content .apart:nth-child(2n+1) {
      margin-left: 0;
      clear: left; }
  #customer-account #customer_orders {
    width: 65%;
    float: left; }
  #customer-account #customer_sidebar {
    width: 32%;
    float: right; }
  #customer-order #order_payment {
    width: 48%;
    float: left; }
  #customer-order #order_shipping {
    width: 48%;
    float: right; }
  footer.footer .powered-by p {
    margin: 0;
    display: inline-block; } }

@media only screen and (min-width: 860px) {
  .site-branding .logo img {
    max-width: none; }
  #primary {
    width: 67%;
    float: left; }
  #main-nav .wrap-menu-mobile {
    display: none; }
  .archive-product #primary {
    width: 70%;
    float: right; }
  #secondary {
    width: 27%;
    float: right;
    position: relative;
    padding-left: 3%; }
    #secondary:before {
      left: 0;
      top: 30px;
      bottom: 0;
      content: '';
      display: block;
      border-left: 1px solid #eee;
      position: absolute; }
  .archive-product #secondary {
    width: 25%;
    float: left;
    padding-left: 0; }
    .archive-product #secondary:before {
      display: none; }
  .home-news-testimonials .list-testimonials {
    width: 32%;
    float: right; }
  .home-news-testimonials .list-news {
    width: 63%;
    float: left; }
  .template-contact-us .map-location iframe {
    height: 350px; }
  footer.footer .widget {
    width: 22%;
    margin-left: 4%;
    float: left; }
  footer.footer .widget:nth-child(2n + 2) {
    margin-left: 4%; }
  footer.footer .widget:first-child {
    margin-left: 0; } }

@media only screen and (min-width: 960px) {
  .wrapper > .fix-width:first-child {
    padding-top: 30px; } }

@media only screen and (min-width: 1000px) {
  .fix-width {
    width: 980px; }
  .articles-related .entry {
    width: 31%;
    margin-left: 3.5%;
    float: left; }
  .articles-related .entry:nth-child(3n + 1) {
    margin-left: 0;
    clear: left; }
  .articles-related .entry .thumb {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 5px;
    display: block; }
  .articles-related .entry .thumb img {
    display: block; }
  .articles-related .entry .entry-title {
    font-size: 14px;
    font-size: 1.4rem; } }

@media only screen and (min-width: 1200px) {
  .fix-width {
    width: 1116px; } }

@media only screen and (min-width: 481px) and (max-width: 679px) {
  .collection-service .home-services .service {
    padding: 30px 10px 10px; }
    .collection-service .home-services .service .thumb {
      display: inline-block;
      padding: 0% 2.5%;
      text-align: center;
      float: left;
      width: 45%; }
    .collection-service .home-services .service .entry-title,
    .collection-service .home-services .service .excerpt {
      text-align: justify;
      margin-left: 50%; }
    .collection-service .home-services .service:after {
      content: '';
      display: block;
      clear: both; }
  .collection-service .home-services .service:nth-child(2n + 2) .thumb {
    float: right; }
  .collection-service .home-services .service:nth-child(2n + 2) .entry-title,
  .collection-service .home-services .service:nth-child(2n + 2) .excerpt {
    direction: rtl;
    margin-left: 0;
    margin-right: 50%; } }

@media only screen and (min-width: 480px) and (max-width: 859px) {
  #sidebar .widget:not(.contact) {
    width: 49%;
    float: left;
    margin-left: 2%;
    margin-top: 2%; }
  #sidebar .widget:nth-child(2n + 1) {
    clear: left;
    margin-left: 0; } }

@media only screen and (min-width: 680px) and (max-width: 860px) {
  .home-services .service .excerpt {
    margin-left: 0; } }
